/**
* 	질문/답변 게시판 CSS
*/

/* 테이블 기초 설정 */


#title {
	margin: 10px 0px;
	/* width:710px;
	display: inline; */
}


#inContent {
	margin: 10px 0px;
	height: 150px;
}

#active {
	padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 16px;
}

.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39/var(--tw-text-opacity));
}

.font-semibold {
    font-weight: 600;
}
.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.w-full {
    width: 100%;
}
.font-normal {
    font-weight: 400;
}

.hidden {
    display: none;
}


img, video {
    max-width: 100%;
    height: auto;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}


element.style {
    background-image: url(https://okky.kr/pattern.svg);
}





.font-medium {
    font-weight: 500;
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.rounded-md {
    border-radius: 0.375rem;
}
.flex-shrink-0, .shrink-0 {
    flex-shrink: 0;
}
.flex {
    display: flex;
}
[role=button], button {
    cursor: pointer;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}



.flex {
    display: flex;
}
[role=button], button {
    cursor: pointer;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}



.community-header {
    padding: 24px 0;
    width: 100%;
    background-color: #333b3d;
}

.community-header_content {
    margin: 0 auto;
    max-width: 1160px;
}

.community-header_title {
    height: 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: .71;
    color: #fff;
    text-indent: 220px;
    
}

.community-header_sub-title {
	text-indent: 220px;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #fff;
}

.question {
    display: flex;
    padding: 18px 16px;
    border-bottom: 1px solid #dee2e6;
}

*, :after, :before {
    box-sizing: inherit;
}

.question .question__info {
    flex: 1 1 auto;
    width: 100%;
    max-width: 100%;
}

.question .question__title {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.question .title-sub__text {
    display: flex;
    align-items: center;
}

.question .title-sub__text .course__title, .question .title__text {
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

question .title-sub__text .course__title {
    flex-shrink: 1;
    font-size: 12px;
    color: #adb5bd;
    white-space: nowrap;
    white-space: normal;
    line-height: 1.5;
    max-height: 1.5rem;
    text-align: left;
    word-break: break-all;
    display: -webkit-box;
}

.question .title__text {
    flex: 1;
    width: 0;
    white-space: nowrap;
    font-size: 16px;
    color: #212529;
    text-decoration: none;
}

.question .title-sub__text .course__title, .question .title__text {
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.question .title__icon {
    position: relative;
    top: 6px;
    width: 24px;
    height: 18px;
    margin-left: 9px;
}

.infd-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color .15s ease;
}

.question .question__body {
    height: 24px;
/*     overflow: hidden;
 */    text-overflow: ellipsis;
    white-space: nowrap;
    white-space: normal;
    line-height: 1.5;
    max-height: 1.5rem;
    text-align: left;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #495057;
    font-size: 14px;
}

.question .question__info-footer {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: nowrap;
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    color: #868e96;
    font-size: 12px;
    font-weight: 400;
    max-height: 20px;
}

.question .question__info-footer .question__info-detail {
    flex: 1 1 auto;
    width: 0;
    max-width: 520px;
    max-height: 20px;
}

.question .question__info-footer>div {
    display: flex;
    min-width: 0;
    align-items: center;
}

.question .question__info-footer .question__info-userData {
    font-size: 0;
}

li {
    text-align: -webkit-match-parent;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(1px,1px,1px,1px);
    white-space: nowrap;
}

.question .question__info-footer .question__info-userData dl dd {
    margin-right: 12px;
}

.question .question__info-footer .question__info-userData dl dd i {
    font-size: 12px;
    margin-right: 4px;
}

.fa-regular, .far {
    font-family: Font Awesome\ 6 Pro;
    font-weight: 400;
}


.question .question__info-footer .question__info-userData dl dd .text {
    font-size: 12px;
    font-weight: 700;
    
    
}
.question .question__info-footer .question__info-userData dl {
    display: flex;
}
.content {
	    flex: 1 1 750px;
    z-index: 2;
    margin: 0 auto;
    max-width: 750px;
}
.question-detail_header {
	border-bottom: 1px solid #f1f3f5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(241, 243, 245);
}
.question-detail_title 
	h1{
	display: inline;
    word-break: break-all;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: -.3px;
    color: #212529;
	margin-bottom: 12px;
    align-items: center;
	
}
.content {
	    flex: 1 1 750px;
    z-index: 2;
    margin: 0 auto;
    max-width: 750px;
        padding: 36px 32px 32px;
        
}

.user-name {
	    height: 20px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.43;
    color: #495057;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.question_sub-title{
	display: flex;
    justify-content: space-between;
    min-width: 0;
    margin-bottom: 1rem;
}

body, button, input, select, textarea {
    font-family: Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
}


html {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 300px;
    min-height: 100%;
    background-color: #fff;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    line-height: 1.625;
    scroll-behavior: smooth;
}

.content_body{
	
	padding: 16px 0!important;
}
.content_body p {

    font-size: 16px!important;
    font-weight: 400!important;
    line-height: 1.7!important;
}	




.question-post-detail {
	border-top: 1px solid #f1f3f5;
    border-bottom: 1px solid #f1f3f5;
    background-color: #f8f9fa;
   
   
    margin: 0 auto;
    
	
}
 .content-date .sub-title span {
    font-size: 14px;
    color: #868e96;
}

.answer-info_title--count{
 	color: #005eff;
}
.section_content {
	padding: 0 32px;
    margin: 24px auto;
    
    flex: 1 1 750px;
    z-index: 2;
    max-width: 750px;
}

.answer-info_header {
	    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 10.5px;
}

.answer-info_title {
	height: 27px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -.3px;
    color: #495057;
}

.answer-comment{ 
	 
	    
	
}

.bootstrap-components .form-control, .bootstrap-components .form-control:focus {
    color: #212529;
}

.bootstrap-components .form-control-lg {
    min-height: calc(2em + 1rem + 2px);
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .3rem;
    max-width: 750px;
    margin: 0 auto;
}

.bootstrap-components .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 2;
    color: #adb5bd;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.bootstrap-components *, .bootstrap-components :after, .bootstrap-components :before {
    box-sizing: border-box;
}

body {
    text-rendering: optimizeSpeed;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-feature-settings: "ss05";
    min-height: 100vh;
    color: #000a12;
    background-color: #fff;
    overflow-x: hidden;
}

.content_body {
	
}


.answer_comment{
	font-size: 0;
    margin: 1rem 0;
    position: relative;
    border: 1px solid #e9ecef;
    border-radius: 8px;
    background-color: #fff;
       margin-bottom: 32px;
	    max-width: 750px;
	    margin: 0 auto;
}

.comment-card {
	padding: 20px 29px;
    border-bottom: 1px solid #f1f3f5;
    max-width: 750px;
    margin: 0 auto;
}

.comment_body markdown-body {
	    font-family: Pretendard!important;
    font-feature-settings: "ss05"!important;
}

.comment_body{
	    padding: 20px 0 0;
}

.comment_re-comment{
	    padding-bottom: 12px;
    border-radius: 0 0 8px 8px;
    background-color: #fcfcfc;
}

.pg___questions_detail .comment__re-comment {
    padding-bottom: 12px;
    border-radius: 0 0 8px 8px;
    background-color: #fcfcfc;
}

.pg___questions_detail .re-comment__header {
    padding: 8px 32px;
    align-items: center;
}

.pg___questions_detail .re-comment__title {
    font-size: 16px;
    font-weight: 700;
    color: #1b1c1d;
}

.pg___questions_detail .re-comment__fold-button {
    margin-left: auto;
}



.ac-button.is-text {
    border: unset;
    background-color: unset;
    color: #495057;
    font-weight: 500;
}

.ac-button.is-md {
    padding: 0 12px;
    height: 40px;
    line-height: 1.43;
    font-size: 14px;
    letter-spacing: -.3px;
}


.pg___questions_detail .re-comment__body {
    padding: 0;
    width: 100%;
    word-break: break-all;
}

.pg___questions_detail .re-comment__open-editor-button-container {
    display: flex;
    justify-content: center;
    padding: 8px 0;
    border-top: 1px solid #f1f3f5;
}

.pg___questions_detail .re-comment__open-editor-button {
    text-decoration: underline;
}




a {
    text-decoration: none;
}


.flex-row{
	display:flex;
	flex-direction:row;
}

.comment_header {
    padding-bottom: 20px;
    align-items: center;
    border-bottom: 1px solid #f1f3f5;
}

.flex-column{
	display:flex;
	flex-direction:column;
}

.comment_user-name {
	font-size: 15px;
    font-weight: 700;
    color: #1b1c1d;
    line-height: 1.47;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.comment_update	{
	font-size: 13px;
    font-weight: 400;
    color: #abb0b5;
    letter-spacing: -.3px;
    line-height: 1.38;
}

h4{
	
    font-size: 16px;

}

.ac-button.is-text {
    border: unset;
    background-color: unset;
    color: #495057;
    font-weight: 500;
}

.pg___questions_detail .re-comment__fold-button {
    margin-left: auto;
}

.ac-button.is-md {
    padding: 0 12px;
    height: 40px;
    line-height: 1.43;
    font-size: 14px;
    letter-spacing: -.3px;
}

.pg___questions_detail .re-comment__open-editor-button-container {
    display: flex;
    justify-content: center;
    padding: 8px 0;
    border-top: 1px solid #f1f3f5;
}


.ac-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    line-height: 1.47;
    font-weight: 500;
    cursor: pointer;
    -webkit-appearance: none;
    padding: 0 12px;
    height: 40px;
    line-height: 1.43;
    font-size: 14px;
    letter-spacing: -.3px;
    border: 1px solid;
    color: #fff;
}

.pg___questions_detail .re-comment__open-editor-button {
    text-decoration: underline;
}

.pg___questions_detail .re-comment__header {
    padding: 8px 32px;
    align-items: center;
}

.pg___questions_detail .content-date .sub-title__value span {
    font-weight: 500;
}

.comment_user-profile {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border-radius: 100px;
    border: 1px solid #f1f3f5;
    -o-object-fit: cover;
    object-fit: cover;
}

img {
	    max-width: 100%;
    display: block;
}


.bootstrap-components .dropdown .dropdown-menu {
    min-width: auto;
}

.bootstrap-components .dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: .5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}


.flex-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}