<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Quiz Wiki 아이디 찾기</title>

<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'
	rel='stylesheet'>
<link rel="stylesheet" type="text/css" href="./css/common.css" />
<link rel="stylesheet" type="text/css"
	href="./css/member/login_id_forgot.css" />
	
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script type="text/javascript">

function chk_form() {
	if(document.getElementById("member_name").value==''){
		alert("아이디를 입력하세요.");
		return false;
	}
	if(document.getElementById("memail").value==''){
		alert("이메일을 입력하세요.");
		return false;
	}
	document.getElementById('login-id').submit();
	}

$(document).ready(function(){
		// 이메일 인증번호
	 $("#checkEmail").on("click",function(){
	    $.ajax({
	       type : "POST",
	       url : "/login/mailConfirm",
	       data : {
	          "email" : $("#memail").val()
	       },
	       success : function(data){
	          alert("해당 이메일로 인증번호 발송이 완료되었습니다. \n 확인 후 인증해주세요.")
	          console.log("data : "+data);
	          chkEmailConfirm(data, $("#memailconfirm"), $("#memailconfirmTxt"));
	       }
	    })
	 })
	 
	// 이메일 인증번호 체크 함수
	function chkEmailConfirm(data, $memailconfirm, $memailconfirmTxt){
		$memailconfirm.on("keyup", function(){
			if (data != $memailconfirm.val()) { //
				emconfirmchk = false;
				$memailconfirmTxt.html("<span id='emconfirmchk'>인증번호 오류</span>")
				$("#emconfirmchk").css({
					"color" : "#ff0000",
					})
				//console.log("중복아이디");
			} else { // 아니면 중복아님
				emconfirmchk = true;
				$memailconfirmTxt.html("<span id='emconfirmchk'>인증번호 확인 완료</span>")
					$("#emconfirmchk").css({
					"color" : "#5a49e4",
					})
			}
		})
	}
});


</script>
</head>

<body>
	<script
		src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
	<div class="login">
		<div class="login__content">
			<div class="login__forms">
				<form action="/find_id.do" class="login__register" id="login-id" method="post">
					<h1 class="login__title">
						<a href="/main">
							<img src="/images/main/QuizWiki_logo1.jpeg" id="login_title_img">
						</a>
					</h1>
					<div class="login__box login_id_forgot">아이디 찾기</div>
					<hr>
					<div class="login__box login_name">
						이름 <input type="text" placeholder="" class="login__input" name="member_name" id="member_name" required>
					</div>

					<div class="row">
						<div class="login__box login_tel">이메일 주소 <input type="email" placeholder="quizwiki@naver.com" name="email"
						id="memail" class="login__input" required>
						</div>

						<div class="div__check__button">
						<a type="button" id="checkEmail" class="login__button check__button"
								onclick="">인증번호 발송</a>
							<!-- <a href="#" class="login__button check__button" >인증번호 받기</a> -->
						
						</div>
					</div>
					
					<div class="login__box login_num">
					인증번호 <input type="text" placeholder="6자리 인증번호 입력" id="memailconfirm" 
					class="login__input" required>
					</div>
					<label for="memailconfirm" id="memailconfirmTxt" style="float: left;padding-top: 10px;"></label>
					
					
					<a onclick="chk_form()" class="login__button">아이디 찾기</a>
					<!-- href="/findId"  -->
				</form>

			</div>
		</div>
	</div>

</body>

</html>