<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Quiz Wiki 로그인</title>

<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'
	rel='stylesheet'>
<link rel="stylesheet" type="text/css" href="./css/common.css" />
<link rel="stylesheet" type="text/css" href="./css/member/login.css" />
</head>
<body>
	<script type="text/javascript" src="./js/member/login.js"></script>
	<div class="login">
		<div class="login__content">
			<div class="login__forms">
				<form action="" class="login__register" id="login-in">
					<h1 class="login__title">
						<a href="/main"> <img src="/images/main/QuizWiki_logo1.jpeg"
							id="login_title_img">
						</a>
					</h1>
					<div class="login__box">
						<i class='bx bx-user login__icon'></i> <input type="text"
							placeholder="아이디" class="login__input">
					</div>
					<div class="login__box">
						<i class='bx bx-lock login__icon'></i> <input type="password"
							placeholder="패스워드" class="login__input">
					</div>

					<div class="login__forgot_box">
						<a href="/findId.do" class="login__forgot">아이디 찾기</a> <a
							href="/findPass.do" class="login__forgot">비밀번호 찾기</a>
					</div>
					<div style="margin-top: 10px;">
						<div class="logo_wrap">
							<!-- 카카오 간편 로그인 -->
							<a	href="https://kauth.kakao.com/oauth/authorize
									?client_id=e2758d85befb75965fd0776467743592
									&redirect_uri=http://localhost:8087/main
									&response_type=code">
								<img src="/images/icon_kakao.png" id="login_title_img"
								width="100%" height="100%">
							</a>
						</div>
						<div class="logo_wrap">
							<!-- 네이버 간편 로그인 -->
							<!-- state는 임의의 값을 넣으라고 해서 test로 잡았습니닷,,  -->
							<a href="https://nid.naver.com/oauth2.0/authorize
									?response_type=code
									&client_id=gBxYnoFcMgYMzb75UjU4
									&state=test
									&redirect_uri=http://localhost:8087/main"> 
								<img src="/images/icon_naver.png"
								id="login_title_img" width="100%" height="100%">
							</a>
						</div>
						<div class="logo_wrap">
							<!-- 구글 간편 로그인 -->
							<a href="https://accounts.google.com/o/oauth2/v2/auth
							?client_id=242302757713-sf1j2s5ngrc6k6p339mviputd0uq6qdq.apps.googleusercontent.com
							&response_type=token
							&redirect_uri=http://localhost:8087/main
							&scope=https://www.googleapis.com/auth/userinfo.email"> 
							<img src="/images/icon_google.png"
								id="login_title_img" width="100%" height="100%">
							</a>
						</div>
					</div>
					<a href="#" class="login__button">로그인</a>

					<div>
						<span class="login__account login__account--account">계정이
							없으신가요?</span> <span class="login__signin login__signin--signup"
							id="sign-up"><a href="/signup.do">회원가입</a></span>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>