<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Quiz Wiki 회원가입</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<!-- 대학생용 회원가입 양식 -->

<!-- 우편번호 -->
<script type="text/javascript"
	src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<!-- js -->
<script type="text/javascript" src="./js/member/zipcode.js"></script>
<script type="text/javascript" src="./js/member/signup.js"></script>
<script type="text/javascript" src="./js/member/check.js"></script>

<!-- cdn -->
<script src="https://kit.fontawesome.com/e92cf22849.js"
	crossorigin="anonymous"></script>

<!-- 글꼴 -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
	rel="stylesheet">

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="./css/common.css" />
<link rel="stylesheet" href="./css/member/signup.css">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<script type="text/javascript">
$(document).ready(function() {
	
	$("#member_id_btn").on("click", function() {
		$.ajax({
			url : "/idChk",
			type : "post",
			dataType : "json",
			data : {
				"member_id" : $("#member_id").val()
			},
			success : function(data) {
				if (data == 1) {
					alert("중복된 아이디입니다.");
					disableSignUpButton();
				} else if (data == 0) {
					alert("사용가능한 아이디입니다.");
					enableSignUpButton();
				}
			}

		});
	});
	
	function disableSignUpButton() {
        $("#signup").prop("disabled", true); // 회원가입 버튼 비활성화
    }

    function enableSignUpButton() {
        $("#signup").prop("disabled", false); // 회원가입 버튼 활성화
    }
	
	let status = false;
	let univ_check = false;
	
	//대학명 인증 
	$("#universityName_btn").on("click", function() {
		var universityName = $("#universityName").val();
		
		let univNameData = {
			"univName" : universityName
		}
			
		$.ajax({
			url : "https://univcert.com/api/v1/check",
			type : "post",
			data : JSON.stringify(univNameData),
			contentType : "application/json",
			success : function(data) {
				console.log(data);
				if (data.success) {
					status = true;
					univ_check = data.success;
					alert("인증 가능 학교");
				} else {
					status = false;
					alert("인증 불가능 학교");
				}
			},
			error : function(data) {
				alert("error");
			}
			})
		})
		
		// 이메일 인증
		$("#email_btn").on("click", function() {
			
			var API_KEY = "b7026b59-2d05-4165-be01-de304e8c76ae";
			var email = $("#email").val();
			var universityName = $("#universityName").val();
			
			if (status) {
				/* let univEmailData = {
					"API_KEY":API_KEY,
					"email" : email,
					"universityName" : universityName,
					"univ_check":true
				}; */
				let univEmailData = {
						"email" : email,
						"universityName" : universityName
				}
			 	/* $.ajax({
					url:"https://univcert.com/api/v1/certify",
					type:"post",
					data:univEmailData,
					contentType:"application/json",
					success:function(data){
						if(data.success){
							alert(universityName + "의 " + email+ "로 인증번호를 발송하였습니다.");
						}else{
							alert("이메일 발송에 실패하였습니다.");
						}
							
					}
				}) */
			 $.ajax({
					url:"univcert.com/api/v1/certify",
					type:"get",
					data:univEmailData,
					//contentType:"application/json",
					success:function(data){
						console.log(data);
						if(data.success){
							alert(universityName + "의 " + email+ "로 인증번호를 발송하였습니다.");
						}else{
							alert("이메일 발송에 실패하였습니다.");
						}
							
					}//end success
				})//end ajax 
			} else {
				alert("학교 인증을 먼저 하시길 바랍니다.");
			}
		})
		
});

</script>

</head>

<body>

	<div class="container">
		<div class="logo_wrap">
			<a href="/main"> <img src="/images/QuizWiki_logo1_trans.png"
				id="login_title_img" width="100%" height="100%">
			</a>
		</div>
		<div class="input-form-backgroud row">

			<div class="input-form col-md-12 mx-auto">
				<h4 class="mb-3">회원가입 - 대학생</h4>
				<form class="validation-form" novalidate>
					<div class="row">
						<div class="col-md-11 mb-3">
							<label for="name">이름</label> <input type="text"
								class="form-control" id="name" placeholder="" value="" required>
							<div class="invalid-feedback">이름을 입력해주세요.</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-8 mb-2">
							<label for="member_id">아이디</label> <input type="text"
								name="member_id" class="form-control" id="member_id" required>
							<div class="invalid-feedback">아이디를 입력해주세요.</div>
						</div>
						<div class="col-md-1.5 mb-2 div_btn" id="div_zipcode_btn">
							<input type="button" id="member_id_btn" class="code_num_btn"
								onclick="" value="id 중복 체크">
						</div>
					</div>

					<div class="row">
						<div class="col-md-11 mb-3">
							<label for="pass">비밀번호</label> <input type="password" name="pass"
								class="form-control" id="pass" placeholder="" value="" required>
							<div class="invalid-feedback">비밀번호를 입력해주세요.</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-11 mb-3">
							<label for="pass_check">비밀번호 확인</label> <input type="password"
								name="pass_check" class="form-control" id="pass_check"
								placeholder="" value="" required>
							<div id="pass_check_msg"></div>
							<!-- <div class="invalid-feedback">비밀번호를 다시입력해주세요.</div> -->
						</div>

					</div>

					<div class="row">
						<div class="col-md-11 mb-3">
							<label for="gender">성별</label> <select
								class="custom-select d-block w-100" id="gender" required>
								<option value=""></option>
								<option>남자</option>
								<option>여자</option>
								<option>밝히고 싶지 않음
									</opton>
							</select>
							<div class="invalid-feedback">성별을 선택해주세요.</div>
						</div>
					</div>

					<!-- 학교정보 -->
					<div class="row">
						<div class="col-md-8 mb-2">
							<label for="universityName">대학교</label> <input type="text"
								class="form-control" id="universityName" placeholder="OO대학교"
								required>
							<div class="invalid-feedback">학교를 입력해주세요.</div>
						</div>
						<div class="col-md-1.5 mb-2 div_btn">
							<input type="button" id="universityName_btn" class="code_num_btn"
								onclick="" value="학교 정보 확인">
						</div>
					</div>

					<div class="row">
						<div class="col-md-11 mb-3">
							<label for="grade">학년</label> <select
								class="custom-select d-block w-100" id="grade" required>
								<option value=""></option>
								<option>1학년</option>
								<option>2학년</option>
								<option>3학년</option>
								<option>4학년</option>
							</select>
							<div class="invalid-feedback">학년을 선택해주세요.</div>
						</div>
					</div>

					<!-- 학과 정보 받아올 수 있게 되면 추가하기.. -->



					<div class="row">
						<div class="col-md-8 mb-2">
							<label for="email">학교 이메일</label> <input type="email"
								class="form-control" id="email"
								placeholder="quizwiki@kyonggi.ac.kr" required>
							<div class="invalid-feedback">이메일을 입력해주세요.</div>
						</div>
						<div class="col-md-1.5 mb-2 div_btn">
							<input type="button" id="email_btn" class="code_num_btn"
								onclick="" value="인증번호 발송">
						</div>
					</div>
					<div class="row">
						<div class="col-md-8 mb-2">
							<label for="sample4_postcode">인증번호</label> <input type="text"
								class="form-control" id="email_check" placeholder="4자리 숫자 입력"
								required>
							<div class="invalid-feedback">인증번호를 확인해주세요.</div>
						</div>
						<div class="col-md-1.5 mb-2 div_btn" id="">
							<input type="button" id="email_check_btn" class="code_num_btn"
								onclick="" value="인증번호 확인">
						</div>
					</div>

					<div class="row">
						<div class="col-md-8 mb-2">
							<label for="sample4_postcode">연락처</label> <input type="text"
								class="form-control" id="telnum" placeholder="-제외 숫자만 입력"
								required>
							<div class="invalid-feedback">전화번호를 입력해주세요.</div>
						</div>
						<div class="col-md-1.5 mb-2 div_btn" id="div_zipcode_btn">
							<input type="button" id="tel_btn" class="code_num_btn" onclick=""
								value="인증번호 발송">
						</div>
					</div>
					<div class="row">
						<div class="col-md-8 mb-2">
							<label for="sample4_postcode">인증번호</label> <input type="text"
								class="form-control" id="telnum_check" placeholder="6자리 숫자 입력"
								required>
							<div class="invalid-feedback">인증번호를 확인해주세요.</div>
						</div>
						<div class="col-md-1.5 mb-2 div_btn" id="div_zipcode_btn">
							<input type="button" id="telnum_check_btn" class="code_num_btn"
								onclick="" value="인증번호 확인">
						</div>
					</div>


					<div class="row">
						<div class="col-md-8 mb-2">
							<label for="sample4_postcode">우편번호</label> <input type="text"
								class="form-control" id="sample4_postcode" placeholder="우편번호"
								required>
							<div class="invalid-feedback">우편번호를 통해 주소를 입력해주세요.</div>
						</div>
						<div class="col-md-1.5 mb-2 div_btn" id="div_zipcode_btn">
							<input type="button" id="zipcode_btn" class="code_num_btn"
								onclick="sample4_execDaumPostcode()" value="우편번호 찾기">
						</div>
					</div>

					<div class="row">
						<div class="col-md-11 mb-3">
							<label for="sample4_roadAddress">도로명 주소</label> <input
								type="text" class="form-control" id="sample4_roadAddress"
								placeholder="도로명주소" required>
						</div>
					</div>
					<div class="row">
						<div class="col-md-11 mb-3">
							<label for="sample4_jibunAddress">지번주소</label> <input type="text"
								class="form-control" id="sample4_jibunAddress"
								placeholder="지번주소" required>
						</div>
					</div>

					<div class="row">
						<div class="col-md-11 mb-3">
							<label for="sample4_detailAddress">상세주소</label> <input
								type="text" class="form-control" id="sample4_detailAddress"
								placeholder="상세주소" required>
						</div>
					</div>
					<div class="row">
						<div class="col-md-11 mb-3">
							<label for="sample4_extraAddress">참고항목</label> <input type="text"
								class="form-control" id="sample4_extraAddress"
								placeholder="참고항목">
						</div>
					</div>

					<hr class="mb-4">

					<div class="col-md-6 mb-3">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input"
								id="selectall" onclick="selectAll(this)" name="mkt_opt"
								value="마케팅 수신 동의"> <label class="custom-control-label"
								for="selectall"> 마케팅 수신 동의 </label>
						</div>
						<div class="child-custom-control">
							<div class="custom-control custom-checkbox">
								<input type="checkbox"
									class="check_all_list custom-control-input" id="aggrement_sms"
									onclick="checkSelectAll()" name="mkt_opt_sub" value="sms">
								<label class="custom-control-label" for="aggrement_sms">SMS
									수신 동의</label>
							</div>
							<div class="custom-control custom-checkbox">
								<input type="checkbox"
									class="check_all_list custom-control-input"
									id="aggrement_email" onclick="checkSelectAll()"
									name="mkt_opt_sub" value="email"> <label
									class="custom-control-label" for="aggrement_email">이메일
									수신 동의</label>
							</div>
						</div>
					</div>
					<div class="mb-4"></div>
					<button class="btn btn-primary btn-lg btn-block" type="button" id="signup"
						onclick="passcheck_signup()" disabled>가입 완료</button>
				</form>
			</div>
		</div>
		<footer class="my-3 text-center text-small">
			<p class="mb-1">&copy; Quiz Wiki</p>
		</footer>
	</div>

</body>

</html>