<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Quiz Wiki</title>

<!-- cdn -->
<script src="https://use.fontawesome.com/releases/v6.4.0/js/all.js"></script>

<!-- 글꼴 -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
	rel="stylesheet">

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="./css/common.css" />
<link rel="stylesheet" type="text/css"	href="./css/member/signup_student_type.css" />
<link rel="stylesheet" href="./css/member/signup.css">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<!-- js -->
<script type="text/javascript" src="./js/member/student_type.js"></script>
</head>
<body>
	<div class="container">
		<div class="logo_wrap">
			<a href="/main"> <img src="/images/QuizWiki_logo1_trans.png"
				id="login_title_img" width="100%" height="100%">
			</a>
		</div>
		<div class="input-form-backgroud row" style="margin-top: 20px;">

			<div class="input-form col-md-12 mx-auto" style="padding-top: 50px;">
				<h4 class="mb-3" style="padding-left: 20px;">가입 구분</h4>
				
				<div class="row">
					<!-- 1번 : 고등학생(청소년) -->
					<div class="col-md-5 mb-3 input-form mybox" id="1" onclick="type(this.id)">
						<label for="1" style="margin-bottom: 2rem;">청소년이신가요?</label>
						<div>
							<i class="fa-solid fa-user-pen fa-beat fa-2xl myicon"></i>
						</div>
					</div>
					<!-- 2번 : 대학생 -->
					<div class="col-md-5 mb-3 input-form mybox" id="2" onclick="type(this.id)">
						<label for="2" style="margin-bottom: 2rem;">대학생이신가요?</label>
						<div>
							<i class="fa-solid fa-user-graduate fa-beat fa-2xl myicon"></i>
						</div>
					</div>
				</div>

				<div class="mb-4"></div>
			</div>
		</div>
		<footer class="my-3 text-center text-small">
			<p class="mb-1">&copy; Quiz Wiki</p>
		</footer>
	</div>
</body>
</html>