<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Quiz Wiki 회원가입</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<!-- 고등학생용 회원가입 양식 -->

<!-- 우편번호 -->
<script type="text/javascript" src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<!-- js -->
<script type="text/javascript" src="./js/member/zipcode.js"></script>
<!-- <script type="text/javascript" src="./js/member/signup.js"></script> -->
<script type="text/javascript" src="./js/member/check.js"></script>

<!-- cdn -->
<script src="https://kit.fontawesome.com/e92cf22849.js" crossorigin="anonymous"></script>

<!-- 글꼴 -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
	rel="stylesheet">
=======
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="./css/common.css" />
<link rel="stylesheet" href="./css/member/signup.css">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
	
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$("#member_id_btn").on("click", function() {
			$.ajax({
				url : "/idChk",
				type : "post",
				dataType : "json",
				data : {
					"member_id" : $("#member_id").val()
				},
				success : function(data) {
					if (data == 1) {
						alert("중복된 아이디입니다.");
						disableSignUpButton();
					} else if (data == 0) {
						alert("사용가능한 아이디입니다.");
						enableSignUpButton();
					}
				}

			});
		});
		
		function disableSignUpButton() {
            $("#signup").prop("disabled", true); // 회원가입 버튼 비활성화
        }

        function enableSignUpButton() {
            $("#signup").prop("disabled", false); // 회원가입 버튼 활성화
        }
	});
</script>



<script type="text/javascript">

// 비밀번호 일치 불일치
function passChk(){
	
	// document : 현재 문서를 의미함. 작성되고 있는 문서를 뜻함. 
	// getElementByID('아이디') : 아이디에 적힌 값을 가진 id의 value를 get을 해서 password 변수 넣기

	var pass = document.getElementById('pass');				//비밀번호 
	var pass_check = document.getElementById('pass_check');	//비밀번호 확인
	var msg = document.getElementById('msg');				//확인 메세지
	var correctColor = "#5a49e4";	//일치했을 때 출력되는 색깔
	var wrongColor ="#ff0000";		//틀렸을 때 출력되는 색깔

	if(pass.value == pass_check.value){
		msg.style.color = correctColor;
		msg.innerHTML ="비밀번호 일치";
	}else{
		msg.style.color = wrongColor;
		msg.innerHTML ="비밀번호 불일치";
	}

}



$(document).ready(function() {
	
	
	// 아이디 중복
	$("#member_id_btn").on("click", function() {
		$.ajax({
			url : "/idChk",
			type : "post",
			dataType : "json",
			data : {
				"member_id" : $("#member_id").val()
			},
			success : function(data) {
				if (data == 1) {
					alert("중복된 아이디입니다.");
					//disableSignUpButton();
				} else if (data == 0) {
					alert("사용가능한 아이디입니다.");
					//enableSignUpButton();
				}
			}

		});
	});
	
	 // 아이디, 비밀번호 4자 이상 입력
	 $('#member_id, #pass').on('input', function() {
		    var inputLength = $(this).val().length;
		    if (inputLength < 4) {
		      $(this).addClass('is-invalid'); 			// 입력 필드에 에러 스타일 추가
		      $(this).next('.invalid-feedback').show(); // 에러 메시지 표시
		    } else {
		      $(this).removeClass('is-invalid'); 		// 입력 필드의 에러 스타일 제거
		      $(this).next('.invalid-feedback').hide(); // 에러 메시지 숨김
		    }
		});
	 
	 
	 
	// 이메일 인증번호
	 $("#checkEmail").on("click",function(){
	    $.ajax({
	       type : "POST",
	       url : "/login/mailConfirm",
	       data : {
	          "email" : $("#memail").val()
	       },
	       success : function(data){
	          alert("해당 이메일로 인증번호 발송이 완료되었습니다. \n 확인 후 인증해주세요.")
	          console.log("data : "+data);
	          chkEmailConfirm(data, $("#memailconfirm"), $("#memailconfirmTxt"));
	       }
	    })
	 })
	 
	// 이메일 인증번호 체크 함수
	function chkEmailConfirm(data, $memailconfirm, $memailconfirmTxt){
		$memailconfirm.on("keyup", function(){
			if (data != $memailconfirm.val()) { //
				emconfirmchk = false;
				$memailconfirmTxt.html("<span id='emconfirmchk'>인증번호 오류</span>")
				$("#emconfirmchk").css({
					"color" : "#ff0000",
					})
				//console.log("중복아이디");
			} else { // 아니면 중복아님
				emconfirmchk = true;
				$memailconfirmTxt.html("<span id='emconfirmchk'>인증번호 확인 완료</span>")
					$("#emconfirmchk").css({
					"color" : "#5a49e4",
					})
			}
		})
	}
	 
	
/* 
	function disableSignUpButton() {
        $("#signup").prop("disabled", true); // 회원가입 버튼 비활성화
    }

    function enableSignUpButton() {
        $("#signup").prop("disabled", false); // 회원가입 버튼 활성화
    }

     */
   
		
}); 

</script>

</head>

<body>

	<div class="container">
		<div class="logo_wrap">
			<a href="/main"> 
				<img src="/images/QuizWiki_logo1_trans.png" id="login_title_img" width="100%" height="100%">
			</a>
		</div>
		<div class="input-form-backgroud row">

			<div class="input-form col-md-12 mx-auto">
				<h4 class="mb-3">회원가입 - 고등학생</h4>
				<!-- <form class="validation-form" novalidate> -->
				<form name="join" method="post" action="join" autocomplete="off"
					encType="utf-8">
				<form name="join" class="validation-form" method="post" action="/signup" autocomplete="off"
					encType="utf-8" novalidate>
					<div class="row">
						<div class="col-md-11 mb-3">
							<label for="name">이름</label> <input type="text"
								class="form-control" id="name" placeholder="" value="" required>
							<label for="member_name">이름</label> <input type="text"
								class="form-control" id="member_name" name="member_name" placeholder="" value="" required>
							<div class="invalid-feedback">이름을 입력해주세요.</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-8 mb-2">
							<label for="member_id">아이디</label> <input type="text"
								name="member_id" class="form-control" id="member_id"
								placeholder="4자 이상 입력" minlength="4" maxlength="15" required>
							<!-- <div class="invalid-feedback">아이디를 입력해주세요.</div> -->
							<label for="member_id">아이디</label>  <input type="text"
								name="member_id" class="form-control" id="member_id"
								placeholder="4자 이상 입력" minlength="4" maxlength="15" required>
							<div class="invalid-feedback">4자 이상의 아이디를 입력해주세요.</div>
						</div>
						<div class="col-md-1.5 mb-2 div_btn" id="div_zipcode_btn">
							<!-- <button type="submit" id="member_id_btn" class="code_num_btn"
								onclick="" value="id 중복 체크"></button> -->
							<input type="button" id="member_id_btn" class="code_num_btn"
								onclick="" value="id 중복 체크"> <span id="olmessage"></span>
						</div>
					</div>

					<div class="row">
						<div class="col-md-11 mb-3">
							<label for="member_pass">비밀번호</label> <input type="password"
								name="member_pass" class="form-control" id="pass" placeholder=""
								value="" required>
							<div class="invalid-feedback">비밀번호를 입력해주세요.</div>
							<label for="pass">비밀번호</label> <input type="password" name="member_pass"
								class="form-control" id="pass" minlength="4" maxlength="15" placeholder="4자 이상 입력" value="" required>
							<div class="invalid-feedback">4자 이상의 비밀번호를 입력해주세요.</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-11 mb-3">
							<label for="pass_check">비밀번호 확인</label> <input type="password"
								name="pass_check" class="form-control" id="pass_check"
								placeholder="" value="" required>
							<div class="invalid-feedback">비밀번호를 다시입력해주세요.</div>
								onkeyup="passChk()" minlength="4" maxlength="15" placeholder="" value="" required>
							<span id="msg"></span>
							<div class="invalid-feedback">비밀번호를 확인해주세요.</div>
						</div>

					</div>

					<div class="row">
						<div class="col-md-11 mb-3">
							<label for="member_gender">성별</label> <select
								class="custom-select d-block w-100" id="member_gender"
								name="member_gender" required>
								class="custom-select d-block w-100" id="member_gender" name="member_gender" required>
								<option value=""></option>
								<option>남자</option>
								<option>여자</option>
								<option>밝히고 싶지 않음
									</opton>
								<option>밝히고 싶지 않음</option>
							</select>
							<div class="invalid-feedback">성별을 선택해주세요.</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-11 mb-3">
							<label for="member_grade">학년</label> <select
								class="custom-select d-block w-100" id="member_grade"
								name="member_grade" required>
							<label for="member_grade">학년</label> <select class="custom-select d-block w-100" 
							id="member_grade" name="member_grade" required>
								<option value=""></option>
								<option>1학년</option>
								<option>2학년</option>
								<option>3학년
									</opton>
								<option>3학년</option>
							</select>
							<div class="invalid-feedback">학년을 선택해주세요.</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-11 mb-3">
							<label for="member_major">전공</label> <select
								class="custom-select d-block w-100" id="member_major"
								name="member_major" required>
							<label for="member_major">전공</label> <select class="custom-select d-block w-100" 
							id="member_major" name="member_major" required>
								<option value=""></option>
								<option>문과</option>
								<option>이과
									</opton>
								<option>이과</option>
							</select>
							<div class="invalid-feedback">전공을 선택해주세요.</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-8 mb-2">
							<label for="memail" id="mailTxt">이메일</label> <input type="email"
								class="form-control" id="memail" name="email"
								placeholder="quizwiki@naver.com" required>
							<div class="invalid-feedback">네이버 이메일을 입력해주세요.</div>
						</div>
						<div class="col-md-1.5 mb-2 div_btn"><!-- id="email_btn" -->
							<input type="button" id="checkEmail" class="code_num_btn"
								onclick="" value="인증번호 발송">
						</div>
					</div>
					<div class="row">
						<div class="col-md-11 mb-3">
							<label for="email">이메일</label> <input type="email" name="email"
								class="form-control" id="email" placeholder="quizwiki@naver.com"
								required>
							<div class="invalid-feedback">이메일을 입력해주세요.</div>
							<label for="memailconfirm">인증번호</label> 
							<input type="text" class="form-control" id="memailconfirm" 
							placeholder="8자리 인증번호 입력" required>
							<label for="memailconfirm" id="memailconfirmTxt" ></label>
							<div class="invalid-feedback">인증번호를 확인해주세요.</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-8 mb-2">
							<label for="member_telnum">연락처</label> <input type="text"
								class="form-control" id="member_telnum" placeholder="-제외 숫자만 입력"
								class="form-control" id="member_telnum" name="member_telnum" placeholder="-제외 숫자만 입력"
								required>
							<div class="invalid-feedback">전화번호를 입력해주세요.</div>
						</div>
						<div class="col-md-1.5 mb-2 div_btn" id="div_zipcode_btn">
							<input type="button" id="tel_btn" class="code_num_btn" onclick=""
								value="인증번호 발송">
						</div>
					</div>
					<div class="row">
						<div class="col-md-8 mb-2">
							<label for="telnum_check">인증번호</label> <input type="text"
								class="form-control" id="telnum_check" placeholder="6자리 숫자 입력"
								required>
							<div class="invalid-feedback">인증번호를 확인해주세요.</div>
						</div>
						<div class="col-md-1.5 mb-2 div_btn" id="div_zipcode_btn">
							<input type="button" id="telnum_check_btn" class="code_num_btn"
								onclick="" value="인증번호 확인">
						</div>
					</div>


					<div class="row">
						<div class="col-md-8 mb-2">
							<label for="sample4_postcode">우편번호</label> <input type="text"
								name="member_zipcode" class="form-control" id="sample4_postcode"
								placeholder="우편번호" required>
							<label for="sample4_postcode">우편번호</label> <input type="text" 
								class="form-control" id="sample4_postcode" name="member_zipcode" placeholder="우편번호"
								required>
							<div class="invalid-feedback">우편번호를 통해 주소를 입력해주세요.</div>
						</div>
						<div class="col-md-1.5 mb-2 div_btn" id="div_zipcode_btn">
							<input type="button" id="zipcode_btn" class="code_num_btn"
								onclick="sample4_execDaumPostcode()" value="우편번호 찾기">
						</div>
					</div>

					<div class="row">
						<div class="col-md-11 mb-3">
							<label for="sample4_roadAddress">도로명 주소</label> <input
								type="text" class="form-control" id="sample4_roadAddress"
								name="member_road_addr" placeholder="도로명주소" required>
								name="member_road_addr"	placeholder="도로명주소" required>
						</div>
					</div>
					<div class="row">
						<div class="col-md-11 mb-3">
							<label for="sample4_jibunAddress">지번주소</label> <input type="text"
								name="member_jibun_addr" class="form-control"
								id="sample4_jibunAddress" placeholder="지번주소" required>
								class="form-control" id="sample4_jibunAddress" name="member_jibun_addr"
								placeholder="지번주소" required>
						</div>
					</div>

					<div class="row">
						<div class="col-md-11 mb-3">
							<label for="sample4_detailAddress">상세주소</label> <input
								type="text" class="form-control" id="sample4_detailAddress" name="member_detail_addr"
								placeholder="상세주소" required>
						</div>
					</div>
					<div class="row">
						<div class="col-md-11 mb-3">
							<label for="sample4_extraAddress">참고항목</label> <input type="text"
								class="form-control" id="sample4_extraAddress" name="member_extra_addr"
								placeholder="참고항목">
						</div>
					</div>

					<hr class="mb-4">


					<div class="col-md-6 mb-3">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input"
								id="selectall" onclick="selectAll(this)" name="member_mkt_opt"
								value="마케팅 수신 동의"> <label class="custom-control-label"
								for="selectall"> 마케팅 수신 동의 </label>
						</div>
						<div class="child-custom-control">
							<div class="custom-control custom-checkbox">
								<input type="checkbox"
									class="check_all_list custom-control-input" id="aggrement_sms"
									onclick="checkSelectAll()" name="mkt_opt_sub" value="sms">
								<label class="custom-control-label" for="aggrement_sms">SMS
									수신 동의</label>
							</div>
							<div class="custom-control custom-checkbox">
								<input type="checkbox"
									class="check_all_list custom-control-input"
									id="aggrement_email" onclick="checkSelectAll()"
									name="mkt_opt_sub" value="email"> <label
									class="custom-control-label" for="aggrement_email">이메일
									수신 동의</label>
							</div>
						</div>
					</div>
					<div class="mb-4"></div>
					<button class="btn btn-primary btn-lg btn-block" type="submit"
						onclick="passcheck_signup()" id="signup" disabled>가입 완료</button>
					<input class="btn btn-primary btn-lg btn-block" type="submit" id="signup"
						onclick="passcheck_signup()" value="가입완료">
				</form>
			</div>
		</div>
		<footer class="my-3 text-center text-small">
			<p class="mb-1">&copy; Quiz Wiki</p>
		</footer>
	</div>

</body>

</html>