<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org"
>
<head>
<meta charset="UTF-8">
<title>Quiz Wiki - 문제풀기</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/pboard/cbt.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
</head>
<body>
    <div class="cbt-wrap">
        <div class="cbt-header-wrap">
            <p class="cbt-title-text" th:text="${pboard.pboardTitle}"></p>
            <p class="cbt-timer">경과시간:<span id="cbt-timer-time">0분 0초<span></p>
        </div>
    
        <div class="cbt-content-wrap">
            <div class="cbt-problem-wrap">
                <div class="cbt-multi-problem">
                    <div class="problem-content">
                        <p id="contentRegion"></p>
                    </div>
                    <div class="problem-print">
                    	<pre id="printRegion"></pre>
                    </div>
                    <ul id="problemChoiseList" class="problem-choise">
                        <li class="problem-choise-selected">
                            	같은 책을 읽은 독자라도 서로 다른 의미를 구성할 수 있다.
                        </li>
                    </ul>
                </div>
            </div>
    
            <div class="cbt-omr-wrap">
                <p class="omr-title-text">정답지</p>
                <ul id="omrList" class="omr-list">
                
                    <li class="omr-item">
                        <span class="omr-index">01.</span>
                        <ul class="omr-choise">
                            <li class="omr-choise-selected">
                            </li>
                            <li>
                            </li>
                            <li>
                            </li>
                            <li>
                            </li>
                            <li>
                            </li>
                        </ul>
                    </li>
                    
                </ul>
                <div class="custom-hr"></div>
                <div class="omr-submit custom-btn green-btn">제출하기</div>
            </div>
        </div>
    
        <div class="cbt-footer-wrap">
            <div class="cbt-footer-ui">
                <div class="custom-btn-list">
                    <div id="preBtn" class="custom-btn  blue-btn">이전</div>
                    <p id="indexRegion" class="cbt-footer-index">1번</p>
                    <div id="nextBtn" class="custom-btn blue-btn">다음</div>
                </div>
            </div>
        </div>
    </div>
    
	<script type="text/javascript" th:inline="javascript">
		const problemList = /*[[${pboard.problemList}]]*/'';
		
		
		let time = 0;
		const cbtTimer = document.getElementById("cbt-timer-time");
		const timer = startTimer();
		
		//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■function■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		function startTimer(){
			const interval = setInterval(()=>{
				time++;
				syncTime();
			},1000);
			
			return interval;
		}
		function syncTime(){
			let min = parseInt(time/60);
			let sec = time%60;
			cbtTimer.textContent = min+"분 "+sec+"초";
		}
		//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■function■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	</script>
</body>
</html>