<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/layout/pboard_layout}"
layout:fragment="content"
>
<head>
<meta charset="UTF-8">
<title>Quiz Wiki</title>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/pboard/pboard_list.css" />

</head>
<body>
	<!-- pboard_list -->
	<div id="pboard-list">
		<div id="pboard-title">
			<span class="title-subject">[[${pboardCateList[param.cate[0]-1].pboardCateName}]]</span>
		</div>

		<form method="get" id="search-bar" name="search-bar-form" action="/pboard/list">
			<div class="serach-group">
				<select name="stype" id="stype" class="custom">
					<option value="title">제목</option>
					<option value="id">작성자</option>
				</select>

				<div class="search-input">
					<input type="text" name="keyword" value=""
						placeholder="검색어를 입력해 주세요." class="custom">
					<button>검색</button>
				</div>
				
				<input type="hidden" name="cate" th:value="${param.cate}"/>
			</div>

			<div onclick="location.href='/pboard/write?cate='+new URLSearchParams(window.location.search).get('cate')" id="write-btn">
				<i class="fa-solid fa-pencil"></i> 글쓰기
			</div>
		</form>

		<div class="pboard">
			<table>
				<thead>
					<tr>
						<th class="board-layout-no">번호</th>
						<th class="board-layout-title">제목</th>
						<th class="board-layout-author">작성자</th>
						<th class="board-layout-regdate">작성날짜</th>
						<th class="board-layout-view">조회수</th>
						<th class="board-layout-like">좋아요</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="pboard : ${pboardList}">
						<td>
							<h5 th:text="${pboard.pboardId}"></h5>
						</td>
						<td class="text-left"><a 
						th:href="@{/pboard/read(cate=${param.cate},no=${pboard.pboardId})}"
						th:text = ${pboard.pboardTitle}
						></a> <span th:if="${pboard.pboardReplyCount} > 0"> [['['+${pboard.pboardReplyCount}+']']]</span> </td>
						<td>
							<h5 th:text ="${pboard.memberId}"></h5>
						</td>
						<td>
							<h5 th:if="${pboard.pboardRegDate.after(today)}" th:text="${#dates.format(pboard.pboardRegDate, 'HH:mm')}"></h5>
							<h5 th:unless="${pboard.pboardRegDate.after(today)}" th:text="${#dates.format(pboard.pboardRegDate, 'yy-MM-dd')}"></h5>
						</td>
						<td>
							<h5 th:text="${pboard.pboardShowCount}"></h5>
						</td>

						<td>
							<h5 th:text="${pboard.pboardLikeCount}"></h5>
						</td>
					</tr>
				</tbody>
			</table>
		
		</div>
		
		<div class="paging-wrap">
        	<ul id="paging-btn-list">
	            <li>
	                <a class="page-btn disabled" th:if="${currentPage == 1}"><i class="fa-solid fa-square-caret-left"></i></a>
	                <a class="page-btn" th:unless="${currentPage == 1}" th:href="@{/pboard/list(page=${currentPage - 1},cate=${param.cate})}"><i class="fa-solid fa-square-caret-left"></i></a>
	            </li>
	
	            <th:block th:each="page : ${pages}">
	                <li th:class="${currentPage == page ? 'current-page-btn' : ''}">
	                    <a class="page-btn" th:if="${currentPage == page}" th:text="${page}"></a>
	                    <a class="page-btn" th:unless="${currentPage == page}" th:href="@{/pboard/list(page=${page},cate=${param.cate})}" th:text="${page}"></a>
	                </li>
	            </th:block>
	
	            <li>
	                <a class="page-btn disabled" th:if="${currentPage >= totalPage}"><i class="fa-solid fa-square-caret-right"></i></a>
	                <a class="page-btn" th:unless="${currentPage >= totalPage}" th:href="@{/pboard/list(page=${currentPage + 1},cate=${param.cate})}"><i class="fa-solid fa-square-caret-right"></i></a>
	            </li>
        	</ul>
		</div>
		
	</div>
	<!-- pboard_list end -->
</body>
</html>