<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/layout/pboard_layout}"
layout:fragment="content"
>
<head>
<meta charset="UTF-8">
<title>Quiz Wiki</title>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/pboard/pboard_read.css" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>

</head>
<body>
	<!-- pboard_read -->
	<div id="pboard-read">
	<div class="pboard-outer">
		<div id="pboard-title">
			<span class="title-subject" th:text="${pboard.pboardTitle}"></span>
			
			<div class="pboard-info">
				<p class="pboard-info-author"><i class="fa-solid fa-person"></i>[[${pboard.memberId}]]</p>
				<div class="ma-left">
					<p class="pboard-info-view"><i class="fa-solid fa-eye"></i>[[${pboard.pboardShowCount}]]</p>
					<p class="pboard-info-like"><i class="fa-solid fa-thumbs-up"></i>[[${pboard.pboardLikeCount}]]</p>
					<p class="pboard-info-regdate"><i class="fa-solid fa-calendar-days"></i>[[${#dates.format(pboard.pboardRegDate, 'yy-MM-dd / hh:mm')}]]</p>
				</div>
			</div>
		</div>
		
		<div id="pboard-read-content">
			<th:block th:utext="${pboard.pboardContent}">
			</th:block>
		</div>
		
		<div class="custom-btn-list">
			<div id="pboardLikeBtn" class="custom-btn blue-btn"><i class="fa-solid fa-thumbs-up"></i>추천하기</div>
			<div onclick="openCBT()" class="custom-btn green-btn"><i class="fa-solid fa-pen"></i>문제 풀어보기</div>
		</div>
		
		<div class="comment-area" th:with="replyList=${pboard.pboardReplyList}">
			<div class="comment-desc"><p>댓글 <span th:text="${#lists.size(replyList)}"></span></p></div>
			<ul class="comment-list">
				<li th:each="reply:${replyList}" class="comment-list-item">
					<div class="comment-list-title">
						<p class="comment-author" th:text="${reply.memberId}">김길동</p>
						<p class="comment-regdate" th:text="${reply.pboardReplyEditDate}">2023-05-29 7시 48분</p>
					</div>
					<div class="comment-list-content" th:text="${reply.pboardReplyContent}">안녕하세요. 김길동입니다.</div>
				</li>
			</ul>
			
			<form name="commentForm" method="post" action="/pboard/reply/write" id="comment-write-form">
				<input type="hidden" name="memberId" value="test"/>
				<input type="hidden" name="pboardId" th:value="${param.no}" />
				<input type="hidden" name="cate" th:value="${param.cate}" />
				<textarea name="pboardReplyContent" maxlength="300" class="custom-input" rows="3" cols="3"></textarea>
				<button style="margin-left:auto;" class="custom-btn blue-btn">댓글달기</button>
			</form>
		</div>
	</div> 
		
		
	</div>
	<!-- pboard_read end -->
	
	
	<script type="text/javascript">
		pboardLikeBtn.addEventListener("click", ()=>{
			let boardId = new URLSearchParams(window.location.search).get('no');
			let val ="";
			
			$.ajax({
				url: "/pboard/post/pboardlike",
				type:"POST",
				async: false,
				dataType:'json',
				data:{
						pboardId:boardId
					},
				success: (res)=>{
					val = res.msg;
				}
			});//ajax end
			
			if(val=="true"){
				Swal.fire({
				      icon: 'success',
				      title: "추천 되었습니다.",
				      confirmButtonColor: '#3085d6',
			  	  	  confirmButtonText: '닫기',
			  	});
			}else if(val=="duplicated"){
				Swal.fire({
				      icon: 'info',
				      title: "이미 추천한 게시물입니다.",
				      confirmButtonColor: '#3085d6',
			  	  	  confirmButtonText: '닫기',
			  	});
			}
		});
	
	
		function openCBT(){
			/* let plist = []; */
			let width = Math.floor(screen.width * 0.9);
			let height = Math.floor(screen.height * 0.9);
			let left = Math.floor((screen.width - width) / 2);
			let top = Math.floor((screen.height - height) / 2);
			
			let cbt = window.open(
			  "/pboard/cbt?no="+new URLSearchParams(window.location.search).get('no'),
			  "QuizWiki-CBT",
			  "width="+width+", height="+height+", top="+top+", left="+left
			);
		
		

			/* cbt.postMessage(plist,"*"); */
		}
	</script>
	
</body>
</html>