<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org"
th:fragment="aside"
>
<head>
<meta charset="UTF-8">

</head>

	<aside id="double-aside">
		<div class="aside-cate">
			<div id="aside-title">
				<h2>
					<i class="fa-solid fa-book"></i> 나만의 문제집
				</h2>
			</div>
			<div class="aside-shifter"></div>
			<ul class="aside-nav">
				<li th:each="pcate : ${pboardCateList}">
					<a th:id="(${param.cate[0]} == ${pcate.pboardCateId}) ? 'nav-select':''" 
					th:text="${pcate.pboardCateName}" 
					th:href="@{/pboard/list(cate=${pcate.pboardCateId})}"></a>
				</li>
			</ul>
		</div>
	</aside>
</html>
