<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
th:fragment="footer"
>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}" />
</head>
<footer>
	<div class="footer-full-hr"></div>
	<section id="footer-section">

		<div class="footer-information">
			<p>
				상담문의 070-5001-1976 <span style="color: #868686; margin-left: 15px;">월~금
					11:00 ~ 18:00 (주말, 공휴일 휴무)</span>
			</p>
		</div>
		<ul class="footer-link-list">
			<li><a href="/use"> 이용약관 </a></li>
			<li><a class="special-a" href="/infor"> 개인정보처리방침 </a></li>
			<li><a href="/faqt"> 고객센터 </a></li>
		</ul>

	</section>
	<div class="footer-full-hr"></div>

	<section id="footer-section2">
		<div id="footer-logo-holder">
			<img width="100%" height="100%" th:src="@{/images/QuizWiki_logo1_gray.png}" />
		</div>

		<ul class="footer-desc">
			<li>얼렁뚱딴 개발단</li>
			<li>사업자등록번호 123-45-678910</li>
			<li>대표 : 김상우</li>
			<li>통신판매업신고번호 : 2023-서울멀캠-0605</li>
			<li>서울특별시 강남구 언주로 508 서울상록빌딩</li>
		</ul>
		<span style="width: 100vw; color: #8686866e; font-size: 9px;">Copytight
			ⓒ2023 123123.com all rights reserved.</span>
	</section>
</footer>
</html>