footer{
	clear:both;
}
.footer-info-text{
	font-size: 16px;
}
footer .footer-full-hr{
	width:100%;
	height:1px;
	border-top: 1px solid black;
}

footer section{
    width: 1200px;
    margin: 0 auto;
}

footer a{
    text-decoration: none;
}
footer  a:link {
    color : black;
}
footer  a:visited {
    color : black;
}
footer  a:active {
    color : black;
}

footer  .special-a:link {
    color : #005eff;
}
footer  .special-a:visited {
    color : #005eff;
}
footer  .special-a:active {
    color : #005eff;
}

#footer-section{
	position:relative;
    font-family: "Esamanru";
    display: flex;
    height: 60px;
}

#footer-section2{
    font-family: "Pretendard";
    padding: 30px 0;
    color: #878787;
    display: flex;
    flex-wrap: wrap;
}

footer .footer-information{
    align-self: center;
}

footer .footer-link-list{
    align-self: center;
    margin-left: auto;
    display: flex;
}

footer .footer-link-list li{
    padding: 0 20px;
}

footer #footer-logo-holder{
    width: 195px;
    height: 40px;
}

footer .footer-desc{
    display: flex;
    font-size: 14px;
    margin:0 auto;
}