@charset "UTF-8";
/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');*/
/****************************************/
/* Name: DESIGN WAVE
/* PART: CONTENTS STYLE
/* Version: 1.0
/* Author: Kim Bo Reum
/****************************************/


/*=============================================================
00.공통사용
=============================================================*/
* {
    letter-spacing: -0.5px;
}
html{height:100%; font-size:11px;}
body{height:100%; text-align: left;font-size:12px;color:#555;line-height:20px; font-family:'Esamanru', 'Pretendard', sans-serif; font-weight: 400;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,p,button,address,table, tbody, tfoot, thead, th, tr, tdvideo, tt{margin:0;padding:0; font-weight: 400;}
h1,h2,h3,h4,h5,h6,input,button,textarea,select,table{font-family:'Esamanru',sans-serif; font-size:12px; line-height:1; font-weight: 400;}
img,fieldset,iframe{border:0}
li{list-style:none;word-break:keep-all}
img,input,select,button,textarea{vertical-align:middle; font-family: 'Pretendard';}
em,address,optgroup{font-style:normal}
label,button{cursor:pointer}
label{top:1px;position: relative;}
button{margin:0;padding:0}
a:link,a:visited{text-decoration:none;color:#555}
a:hover,a:focus,a:active{text-decoration:underline;color:#555}
input:focus, button:focus {outline: none;}
button img{left:-3px;}
hr{display:none}
legend,caption{ visibility:hidden; font-size:0; width:0; height:0; line-height:0}
p{text-align:left;line-height:22px;word-break:keep-all; font-weight: 400;}
table{width:100%;border-spacing:0;}/* border-collapse: collapse; ff에서 border="0" 인 경우 문제 발생 */
/* hidden contents */
.skip,.hidden{position:absolute; width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden; z-index:-1}
a {text-decoration: none  !important;}

/*=============================================================
01.인풋요소
=============================================================*/

/*비디오*/
.video-container {position:relative; padding-bottom:56.30%; height:0; overflow:hidden;}
.video-container iframe,.video-container object,.video-container embed, .video-container video {position:absolute; top:0; left:0; width:100%; height:100%;}
iframe {transition: opacity 250ms ease-in-out; transition-delay: 250ms;}


/*체크박스*/
.single input[type="checkbox"] {display:none;}
.single input[type="checkbox"] + label {position:relative; display:inline-block; cursor:pointer; padding-left: 17px; font-size:14px; line-height: 20px; color: #212121;}
.single input[type="checkbox"] + label:before {position:absolute; left:0; top:3px; display:inline-block; width: 15px; height: 15px; overflow: hidden; background-position: center; background-repeat: no-repeat; content: ''; background-size: 60%; background-image: url("../_img/resource/check.png"); background-color: #fff; border: 1px solid #e4e4e4; border-radius: 2px;}
.single input[type="checkbox"]:checked + label:before {background-color:#000; border-color: #000}

.single.ver2 input[type="checkbox"] + label {padding-left: 20px;}
.single.ver2 input[type="checkbox"] + label:before {border-radius: 100%; width: 18px; height: 18px; top: 2px; background-color: #c4c4c4; border: 0; background-size: 50%}
.single.ver2 input[type="checkbox"]:checked + label:before {background-color:#000; border-color: #000}


/*라디오버튼*/
.single input[type="radio"] {display:none;}
.single input[type="radio"] + label {position:relative; display:inline-block; cursor:pointer; padding-left:17px; font-size:14px; line-height: 20px; color: #212121;}
.single input[type="radio"] + label:before {position:absolute; left:0; top:3px; display:inline-block; width: 15px; height: 15px;  overflow: hidden; background-position: center; background-repeat: no-repeat; content: ''; background-size: 60%; background-image: url("../_img/resource/check.png"); background-color: #fff; border: 1px solid #e4e4e4; border-radius: 2px;}
.single input[type="radio"]:checked + label:before {background-color:#000; border-color: #000}


/*== 리스트형 라디오&체크박스 ==*/
ul.multi_line {box-sizing:border-box; display: flex; width: 100%; flex-wrap: wrap; justify-content: flex-start;}
ul.multi_line li {position:relative; cursor: pointer; border: 1px solid #e1e1e1; overflow: hidden; border-left: 0;}
ul.multi_line li:first-of-type {border-left: 1px solid #e1e1e1; border-radius: 6px 0 0 6px;}
ul.multi_line li:last-of-type {border-radius: 0 6px 6px 0}
ul.multi_line.leng2 li {width: 50%}
ul.multi_line.leng3 li {width: 33.3%}
ul.multi_line.leng4 li {width: 25%}
ul.multi_line.leng5 li {width: 20%}
ul.multi_line.leng6 li {width: 16.6%}


/*체크박스*/
ul.multi_line li input[type="checkbox"] {display:none;}
ul.multi_line li input[type="checkbox"] + label {display:block; height:61px; margin-top: -1px; line-height:60px; text-align:center; color:#212121; font-size: 16px; box-sizing: border-box; background: #fff;}
ul.multi_line li input[type="checkbox"]:checked + label {color: #fff; background-color: #03ab9a;}

/*라디오버튼*/
ul.multi_line li input[type="radio"] {display:none;}
ul.multi_line li input[type="radio"] + label {display:block; height:61px; margin-top: -1px; line-height:60px; text-align:center; color:#212121; font-size: 16px; box-sizing: border-box; background: #fff;}
ul.multi_line li input[type="radio"]:checked + label {color: #fff; background-color: #03ab9a;}


/*셀렉박스*/
select.custom {width: 120px; height: 40px; border-radius: 5px; border: 1px solid #dfdfdf; box-sizing: border-box; padding: 0 15px; font-size: 14px; color: #212121; background:url("../_img/resource/icon-select.png") no-repeat right 13px top 50%, #fff; -webkit-appearance:none; -moz-appearance:none; appearance:none; background-size: 10px}
select.custom::-ms-expand { display:none; }


/*인풋박스*/
input[type="text"].custom {width: 240px; height: 40px; border-radius: 5px; border: 1px solid #dfdfdf; box-sizing: border-box; padding: 0 15px; font-size: 14px; color: #212121}
input[type="text"].custom::placeholder {color: #5a5a5a;}
input[type="password"].custom {width: 100%; height: 40px; border-radius: 5px; border: 1px solid #dfdfdf; box-sizing: border-box; padding: 0 15px; font-size: 14px; color: #212121}
input[type="text"].custom.link {background-image: url("../_img/resource/link.png"); background-position: center left 15px; background-repeat: no-repeat; padding-left: 35px;}


/*텍스트박스*/
textarea {width: 100%; border:1px solid #dfdfdf; box-sizing: border-box; border-radius: 5px; padding: 15px; font-size: 14px; color: #212121; height: 200px}
textarea:placeholder {color: #5a5a5a;}
       
#otoContent{
	height: 200px;
}





/*바로가기메뉴*/
.drop_directMenu {display: none; width: 1200px; min-height: 400px; border-radius: 0 0 15px 15px; background: #fff; z-index: 999; position: absolute; top: 90px; left: 0; border: 1px solid #efefef; box-sizing: border-box; box-shadow: 0 15px 15px rgba(0,0,0,0.25); padding: 30px}
.drop_directMenu>.flex_wrap {justify-content: space-between;}
.drop_directMenu dl dt {font-size: 16px; color: #000; margin-bottom: 15px;}
.drop_directMenu .menu_list {width: 500px; box-sizing: border-box; padding-left: 50px}
.drop_directMenu .menu_list dl {margin-top: 25px;}
.drop_directMenu .menu_list dl dd {}
.drop_directMenu .menu_list p {}
.drop_directMenu .menu_list p span {font-family: 'Pretendard'; font-size: 13px; color: #212121}
.drop_directMenu .menu_list p span i {padding-right: 4px; font-size: 15px; vertical-align: middle; margin-top: -3px;}
.drop_directMenu .menu_list p strong {font-size: 21px; color: #000; font-weight: 400; line-height: 1.45;}
.drop_directMenu .menu_list p strong em {color: #18d895}
.drop_directMenu .menu_list .recmd_menu {display: flex; flex-wrap: wrap; justify-content: flex-start; margin: 20px 0 40px 0}
.drop_directMenu .menu_list .recmd_menu p {border-radius: 5px; border: 1px solid #000; text-align: center; padding: 20px 0; font-size: 14px; color: #212121; display: block; width: 100%;}
.drop_directMenu .menu_list .recmd_menu a {width: 135px; height: 40px; border-radius: 5px; border: 1px solid #000; box-sizing: border-box; text-align: center; line-height: 40px; font-size: 14px; color: #212121; margin-bottom: 5px; margin-right: 5px;}
.drop_directMenu .menu_list .recmd_menu a:hover {background: #000; color: #fff;}
.drop_directMenu .menu_list .link_bnts {margin-bottom: 10px;}
.drop_directMenu .menu_list .link_bnts a {width: 135px; height: 40px; color: #fff; text-align: center; line-height: 40px; font-size: 13px;font-weight: 300; border-radius: 5px; margin-right: 5px;}
.drop_directMenu .menu_list .link_bnts a.my_contentsRoom {background: #03ab9a; }
.drop_directMenu .menu_list .link_bnts a.nscoach_introVideo {background: #099474; }
.drop_directMenu .menu_list .link_bnts a.nscoach_inquiry {background:#000}
.drop_directMenu .rcmd_ai {width: 560px; padding-right: 50px;}
.drop_directMenu .rcmd_ai dl {}
.drop_directMenu .rcmd_ai dl dt::before {background: url('/_img/resource/ai_bl.png') no-repeat center; width: 41px; height: 31px; content: ''; display: inline-block; vertical-align: bottom;}
.drop_directMenu .rcmd_ai dl dd ul {background: #fafafa; box-sizing: border-box; width: 100%; border-radius: 10px; padding: 15px 40px; display: block !important;}
.drop_directMenu .rcmd_ai dl dd ul li {display: block; width: 100%; margin: 16px 0}
.drop_directMenu .rcmd_ai dl dd ul li a {color: #000; font-family: 'Pretendard'; font-size: 16px !important; padding: 0 !important; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-weight: 500}
.drop_directMenu .rcmd_ai dl dd ul li a:hover {color: #03ab9a !important}
.drop_directMenu .rcmd_ai dl dd ul li a::after, 
.drop_directMenu .rcmd_ai dl dd ul li a::before {display: none !important} 

#show_drop_directMenu:hover .drop_directMenu {display: block}


/*서브비주얼*/
.sub_visual {text-align: center; background: url("../_img/contents/gradation_bg.jpg") no-repeat center; background-size: 100%; overflow: hidden;}












/*로그인 회원가입 아이디찾기 비밀번호찾기*/
.login_pop {border-radius: 10px 0 10px 10px; }
.login_info {border-top: 0;}
.login_info .inner_section {margin: 50px 0}
.login_info .section_title {font-size: 18px; color: #000;}
.login_info dl {border-bottom: 1px solid #000; margin: 0; padding: 10px 0;}
.login_info dl:first-of-type {border-top: 1px solid #000;}
.login_info dl dt {font-family: 'Esamanru'; font-weight: 300;}
.login_info dl dd input {border: 0;}
.login_info dl dd.has-btn {position: relative; box-sizing: border-box; padding-right: 100px;}
.login_info dl dd.has-btn button {width: 90px; height: 40px; background: #000; border: 0; color: #fff; font-size: 13px;border-radius: 5px; position: absolute; right: 0; top: 50%; transform: translateY(-50%);}

.login_info dl.full {display: block; padding: 20px 0; margin: 0;}
.login_info dl.full dt,.login_info dl.full dd {width:100%;}
.login_info dl.full dt {margin-bottom: 10px;}


#join_pop {padding: 0;  max-height: 650px;}



/*회원탈퇴*/
#secession_pop {padding: 0;  max-height: 650px;}

/*소개영상*/
.video_pop {width: 1200px; height: 678px; border-radius: 0; padding: 0;}


/*현금영수증신청*/
#request_recipt .purchase_info dl dt {width: 25%;}
#request_recipt .purchase_info dl dd {width: 75%;}

.cs_center_contents {}
.cs_center_contents .inner_cont {background: #fff; border-radius: 20px; box-sizing: border-box; padding: 50px;}
.cs_center_contents .error_box { background: url('/quizwiki/images/cs_deco.png') no-repeat center left;}

/*FAQ*/
ul.faq_list {width: 100%; overflow: hidden; box-sizing: border-box; background: #fff; border-top: 1px solid #000}
ul.faq_list > li {position: relative; width: 100%; box-sizing: border-box; border-bottom: 1px solid #dfdfdf;}
ul.faq_list li .acc_head {display: table; position: relative; width: 100%; overflow: hidden; box-sizing: border-box; cursor: pointer;}
ul.faq_list li .acc_head::after {position: absolute; top: 50%; right: 20px; transform: translate(0,-50%); width: 30px; height: 30px; background-image: url(/quizwiki/images/faq_plus.jpg); background-position: center; background-repeat: no-repeat; content: ''; background-size: 100%;}
ul.faq_list li .acc_head p {display: table-cell; font-size: 16px; color: #212121; padding: 20px 25px; font-weight: 300; text-align:left}
ul.faq_list li .acc_head p span {padding-right: 10px; font-weight: 500;}
ul.faq_list li .acc_content {position: relative; width: 100%; overflow: hidden; box-sizing: border-box; background: #fff;}
ul.faq_list li .acc_content div.content {background: #f8f8f8; text-align:left; box-sizing: border-box; padding: 25px; font-size: 16px; font-weight: 300; color: #212121; line-height: 1.6; overflow: hidden;  border-top:1px solid #ddd; width: 100%; font-family: 'Pretendard'; }

ul.faq_list li.acc_active .acc_head p {font-weight: 500; color: #03ab9a}
ul.faq_list li.acc_active .acc_head::after {background-image: url(/quizwiki/images/faq_minus.png);}

/*  오답신고  */
.error_box__wrap { padding: 50px 0; border-bottom: 1px solid #000; background: #f5f7f7;}
.error_box { background: url('/_img/contents/error_deco.png') no-repeat center left; padding:10px 0 10px 160px; display: table; margin: 0 auto;}
.error_box p {font-size: 18px; color: #333; margin: 10px 0 }
.error_box p strong {font-weight: 500; font-size: 25px; color: #000}
.error_box a.comm_btnStyle {border-color: #000; background: #000; color: #fff; float: none;}

/*공통버튼스타일*/
.comm_btnStyle {display:block;width:145px;height:45px;border-radius:5px;box-sizing:border-box;text-align:center;padding:12px 0;float:left;text-decoration:none;border: 0;font-size: 14px;background-color: #fff;}
.comm_btnStyle span {font-size:14px; background-repeat:no-repeat; background-position:center left; padding-left:40px;  background-size:30px;}
.comm_btnStyle.coupon {background-color:#5e5e5e;}
.comm_btnStyle.coupon span {background-image:url(/_img/resource/coupon.png); color:#fff;}
.comm_btnStyle.ticket {background-color:#58926e;}
.comm_btnStyle.ticket span {background-image:url(/_img/resource/ticket.png); color:#fff;}
.comm_btnStyle.study_dwn span {background-image:url("/_img/resource/icon-pdf.png"); background-size:14px; padding-left:20px;}
.comm_btnStyle.hanguel span {background-image:url("/_img/resource/icon-hanguel.jpg"); background-size:15px; padding-left:20px;}
.comm_btnStyle.error span {background-image:url("/_img/resource/caution.png"); background-size:20px; padding-left:28px;}
.comm_btnStyle.omr_download {background: #fafafa; float:right; margin-bottom: 20px; border: 1px solid #e0e0e0; cursor: pointer;}
.comm_btnStyle.omr_download span {background-image: url('/_img/resource/download.png'); font-size: 13px; padding-left: 25px; background-size:15px;}
.comm_btnStyle.view span {background-image: url('/_img/resource/icon-search.png'); font-size: 13px; padding-left: 20px; background-size:15px;}
.comm_btnStyle.go_myCR {background-color: #58926e; margin: 30px auto 0 auto; float: none; width: 250px;}
.comm_btnStyle.go_myCR a {color: #fff; font-size:14px; display: block; width: 100%;}

.comm_btnStyle.call-download span {background-image:url("/_img/resource/download.png"); background-size:20px; padding-left:25px;}
.comm_btnStyle.call-download:hover {background: #000; border-color:#000; color: #fff;}
.comm_btnStyle.call-download:hover span {background-image:url("/_img/resource/download-w.png");}

.comm_btnStyle.call-download2 span {background-image:url("/_img/resource/download.png"); background-size:20px; padding-left:25px;}
.comm_btnStyle.call-download2:hover {background: #000; border-color:#000; color: #fff;}
.comm_btnStyle.call-download2:hover span {background-image:url("/_img/resource/download-w.png");}

.comm_btnStyle.nofile span {background-image:url("/_img/resource/download.png"); background-size:20px; padding-left:25px;}
.comm_btnStyle.nofile:hover {background: #000; border-color:#000; color: #fff;}
.comm_btnStyle.nofile:hover span {background-image:url("/_img/resource/download-w.png");}
.pl0 { padding-left:0px !important; }


.class_tabs__wrap {position: relative;}
.class_tabs__wrap a.btn-contents_intro { position: absolute; right: 0; top: 0; height:50px; line-height: 50px; font-size: 15px; color: #212121; border: 1px solid #dedede; box-sizing: border-box; width: 173px; text-align: center; border-radius: 0 5px 5px 0; background: #f8f8f8}
.class_tabs__wrap a.btn-contents_intro i {font-size: 20px; vertical-align: middle; color: #147e8e; margin-right: 4px}
.class_tabs__wrap a.btn-contents_intro:hover {background: #147e8e; color: #fff; border-color: #147e8e; border-left: 1px solid rgba(255,255,255,0.5);}
.class_tabs__wrap a.btn-contents_intro:hover i {color: #fff;}



.class_tabs {width: 100%; display: flex; flex-wrap: wrap; margin: 20px 0 30px 0}
.class_tabs li { height: 50px; line-height: 50px; font-size: 16px; color: #212121; /*letter-spacing:1px;*/  border: 1px solid #dedede; box-sizing: border-box; text-align: center; width: 33.3%; background: #fff; margin-left: -1px; cursor: pointer;}
.class_tabs li a {color: #212121;}
.class_tabs li.active a {color: #fff;}
.class_tabs.leng1 li {width: 100%;}
.class_tabs.leng2 li {width: 50%;}
.class_tabs.leng4 li {width: 25%;}
.class_tabs.leng5 li {width: 20%;}
.class_tabs li:first-of-type {border-radius: 5px 0 0 5px}
.class_tabs li:last-of-type {border-radius: 0 5px 5px 0}
.class_tabs li.active {color: #fff;}
.class1_tabs li.active {background: #099474; border-color: #099474}
.class2_tabs li.active {background: #147e8e; border-color: #147e8e}

/*게시판페이징*/
.bbs_pagination {display: flex; flex-wrap: wrap; justify-content: center; margin: 30px 0;}
.bbs_pagination .btn_page_num { font-family: 'Pretendard'; font-size: 13px; width: 24px; height: 24px; line-height: 24px; display: block; text-align: center; margin: 0 5px; border-radius: 100%;}
.bbs_pagination .btn_page_num.active {color: #fff; background: #767676;}
.bbs_pagination .btn_page {width: 24px; height: 24px; border-radius: 100%; background-size: 100%; border: 0;}
.bbs_pagination .btn_page.prev {background-image: url('/_img/resource/btn-pagination_prev.png');}
.bbs_pagination .btn_page.next {background-image: url('/_img/resource/btn-pagination_next.png');}

.btn_wraps {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    justify-content: center;
}
/*파일업로드*/
.filebox input[type="file"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.filebox label {display: inline-block; cursor: pointer; vertical-align: middle; width:75px; height: 28px; background: #e1e1e1; color: #000; text-align: center; line-height: 28px; border-radius: 30px;}
.filebox .upload-name {padding:10px;  font-size: 14px; vertical-align: middle; background-color: #fff; border:0; -webkit-appearance: none; -moz-appearance: none; appearance: none; width: 900px; box-sizing: border-box; color: #606060; display: inline-block;}


/*글쓰기*/
.write_form {}
.write_form dl {width: 1200px; border-bottom: 1px solid #000; display: flex; flex-wrap: wrap; justify-content: flex-start; align-items: center; padding: 15px 0}
.write_form dl dt {font-size: 16px; color: #000; width: 15%; text-align: center;}
.write_form dl dd {width: 85%; font-size: 16px;margin-left: auto;margin-right: auto;}
.write_form dl dd input[type="text"] {width: 100%; border: 0; background-color: transparent; font-size: 16px; height: 40px;}
.write_form dl dd textarea {width: 100%; border: 0; background-color: transparent; font-size: 16px; height: 300px;}
#oto{margin-bottom:50px }

