@charset "UTF-8";

#my_page_tabs__wrap {
	width: 100%;
	height: 200px;
	background-color:#2B5293;
	background-size: cover;
}

#my_page_tabs__wrap .inner_cont {
	height: 100%;
}

#my_page_tabs__wrap .inner_cont h5 {
	color: #fff;
	margin-bottom: 40px;
}

#my_page_tabs__wrap ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#my_page_tabs__wrap ul li {
	font-size: 16px;
	text-align: center;
	border: 1px solid #e1e1e1;
	box-sizing: border-box;
	height: 60px;
	width: 12.5%;
	border-left: 0;
	background: #f5f7f7;
}

#my_page_tabs__wrap ul li:first-of-type {
	border-left: 1px solid #e1e1e1;
	border-radius: 5px 0 0 0;
}

#my_page_tabs__wrap ul li:last-of-type {
	border-radius: 0 5px 0 0
}

#my_page_tabs__wrap ul li a {
	color: #6a6a6a;
	display: block;
	line-height: 60px;
	font-size: 16px;
	text-decoration-line:none;
}

#my_page_tabs__wrap ul li.on {
	background: #fff;
	border-bottom-color: #fff;
}

#my_page_tabs__wrap ul li.on a {
	color: #2B5293;
	font-weight: 500;
}
.inner_cont {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.vertical_midAlign-wrap {
    display: table;
    width: 100%;
    height: 100%;
}
.vertical_midAlign-wrap .vertical_midAlign-inner.bottom {
    vertical-align: bottom;
}
.vertical_midAlign-wrap .vertical_midAlign-inner {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

#my_page_tabs__wrap .inner_cont h5 {
    color: #fff;
    margin-bottom: 40px;
    font-size: 44px;
}

