body{
    background-color: black;
    height:100vh;
    display: flex;
}
.flex-div{
	display:flex;
}
.cbt-wrap{
	width: 100%;
	align-self: center;
    padding:30px 10%;
    background-color: rgb(189 189 189);
}
/* header */
.cbt-header-wrap{
    position: relative;
    background-color: rgb(76 124 183);
    width: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    color: white;
    font-family: "Esamanru";
    padding: 30px 0;
    border-bottom: 2px dashed rgba(48, 38, 183, 0.692);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466);
}
.cbt-title-text{
    font-size: 32px;
    font-weight: bold;
    margin:0 auto;
}
.cbt-timer{
    position: absolute;
    font-size: 18px;
    align-self: flex-end;
    margin-right: 15px;
}
#cbt-timer-time{
    font-weight: bold;
}

/* content */
.cbt-content-wrap{
    margin-top: 30px;
    width:100%;
    max-height: 70vh;
    display: flex;
    justify-content: space-between;
    font-family: "Pretendard";
}
.cbt-problem-wrap{
	    overflow-x: hidden;
	min-height: 50vh;
    width:70%;
    overflow-y: auto;
    border: 2px dashed rgba(48, 38, 183, 0.692);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.428);
    background-color: #efefef;
    padding: 3%;
}
.cbt-omr-wrap{
    width: 20%;
    overflow-y: auto;
    border: 2px dashed rgba(48, 38, 183, 0.692);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.428);
    background-color: #efefef;
}

.cbt-multi-problem{
    width: 100%;
    min-height: 50%;
    max-height: 80%;
    margin:0 auto;
    background-color: #e7e7e7;
    border: 3px dashed rgba(0, 0, 0, 0.368);
    padding: 5px;
    overflow-y:auto;
    box-sizing: border-box;
}
.problem-content{
    font-size: 18px;
    padding:10px 0;
}
.problem-print{
    font-size:14px;
    border: 1px solid black;
    max-width: 100%;
    min-height: 10%;
    margin:15px auto;
    padding:5px;
    box-sizing: border-box;
    width: 95%;
}
.problem-choise{
    padding: 10px;
}
.problem-choise li{
	width:fit-content;
	cursor: pointer;
    margin: 10px 0 6px 6px;
    position: relative;
    line-height: 15px;
}
.problem-choise li:before{
    display: inline-block;
    content: "1";
    border-radius: 50%;
    border:1px solid black;
    width: 15px;
    height: 15px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin-right:5px;
}
.selected:before{
    background-image: url(/images/pboard/cbt_check.png);
}
.problem-choise li:nth-child(1):before{
    content: "1";
}
.problem-choise li:nth-child(2):before{
    content: "2";
}
.problem-choise li:nth-child(3):before{
    content: "3";
}
.problem-choise li:nth-child(4):before{
    content: "4";
}
.problem-choise li:nth-child(5):before{
    content: "5";
}


/* omr */
.omr-title-text{
    font-size: 24px;
    text-align: center;
    margin: 15px 0;
}

.omr-item{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding-left: 5%;
    font-size: 18px;
    font-weight: bold;
    color: rgb(103, 103, 103);
    margin: 10px 0;
}
.omr-index{
    cursor: pointer;
    width:10px;
}
.omr-index:hover{
	color:rgb(76 124 183);
}
.omr-choise{
	width:100%;
    padding: 0 5px;
    display: flex;
}
.omr-choise li{
    position: relative;
    margin: 0 5%;
    font-size: 14px;
    color: black;
    cursor: pointer;
}
.omr-choise li:before{
    display: inline-block;
    content: "1";
    border-radius: 50%;
    border:1px solid black;
    width: 15px;
    height: 15px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.omr-choise-selected:before{
    background-image: url(/images/pboard/cbt_check.png);
}
.omr-choise li:nth-child(1):before{
    content: "1";
}
.omr-choise li:nth-child(2):before{
    content: "2";
}
.omr-choise li:nth-child(3):before{
    content: "3";
}
.omr-choise li:nth-child(4):before{
    content: "4";
}
.omr-choise li:nth-child(5):before{
    content: "5";
}


/* cbt-footer */
.cbt-footer-wrap{
    margin-top: 10px;
    background-color: rgb(76 124 183);
    border-top: 2px dashed rgba(48, 38, 183, 0.692);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466);
}
.cbt-footer-index{
    font-family: "Esamanru";
    align-self: center;
    margin: 0 5%;
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-shadow: rgb(0, 0, 0) 1px 0 15px;
}



#printRegion{
	white-space: pre-wrap;
}
.preview-printfile{
	justify-content: center;
	width:100%;
	height:fit-content;
	display:none;
}
.preview-printfile img{
    width: auto;
    max-width: 100%;
    height: fit-content;
  	object-fit: contain;
}






/* btns */
.custom-btn-list{
	display: flex;
	justify-content: center;
}
.custom-btn-list2{
	display: flex;
}

.custom-btn{
    align-self: center;
    width: fit-content;
    height: fit-content;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-family: "Esamanru";
    font-size: 18px;
	margin:10px;
}
.cbt-footer-ui{
	padding: 15px;
}

.omr-submit{
	margin: 0 15px 0px auto;
}

.custom-hr{
    width: 95%;
    margin:15px auto;
    border: 2px dashed #5a5a5a54;

}

.green-btn{
	background: #2d932b;
    outline:2px solid #ffffff;
}
.green-btn:hover{
	background: white;
    outline:3px solid #2d932b;
    color: #2d932b;
}

.blue-btn{
	background: #1986a7;
    outline:2px solid #ffffff;
}
.blue-btn:hover{
	background: white;
    outline:3px solid #1986a7;
    color: #1986a7;
}

.red-btn{
	background: #b73232;
    outline:2px solid white;
}
.red-btn:hover{
	background: white;
    outline:3px solid #b73232;
    color: #b73232;
}

.navy-btn{
	background: #2b5293;
    outline:2px solid white;
}
.navy-btn:hover{
	background: white;
    outline:3px solid #2b5293;
    color: #2b5293;
}



.custom-input{
	height: fit-content;
	font-size: 18px;
	font-family: "Pretendard";
    border: none;
    outline: none;
	border-bottom: 2px dashed rgb(175, 175, 175);
	transition: .5s;
}
.omr-custom-input{
	margin: 0 auto;
    width: 82%;
}
.mp-custom-input{
	font-size:24px;
    width: 82%;
}
.custom-input:focus{
	border-color: black;
}

.mp-region-warp{
	display:flex;
	align-items: center;
	margin: 30px 0;
}
.mp-region-text{
	font-size:24px;
	font-family: "Esamanru";
	margin-right:10px;
	color: #676767;
}





/* result popup */
#resultPopup{
	position: absolute;
	z-index:990;
	width:100%;
	height:100%;
	
	opacity: .1;
	
	animation: modalOpen .5s forwards;
	
	display: none;
}

@keyframes modalOpen{
	0%{
		opacity:.1;
	}
	
	100%{
		opacity:1;
	}
}

#resultPopupBG{
	position: absolute;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.5);
}

.result-popup-wrap{
	position: absolute;
	width:70%;
	height:90%;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	
	background-image: url(/images/pboard/texture.jpg);
    background-position: center;
    background-repeat: no-repeat;
    
    border:#ff7700 10px solid;
    border-style: ridge;
    box-sizing: border-box;
}

.banner-gradient{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #007208, #02c158, #007208);
    opacity: .7;
}
.result-popup-content{
	position: absolute;
	width:100%;
	height:100%;
	overflow-y: auto;
}

.result-title-wrap{
	font-size:3rem;
	font-family: "Typo_Crayon";
	color:white;
	
	display: flex;
	justify-content: center;
	margin: 2% 0;
}

.result-table-outter{
	width:80%;
	margin:15px auto;
}

.result-summary-text{
	font-size:1.5rem;
	font-family: "Typo_Crayon";
	color:white;
	margin: 5px 0;
}
#resultCount{
	color:yellow;
}

.result-table{
	font-family: "Typo_Crayon";
	width:100%;
	margin:50px auto;
	table-layout: fixed;
}

.result-table tr{
	height:55px;
	text-align: center;
}
.result-table td{
	max-width:20%;
	vertical-align: middle;
	border: 3px #d1d1d1 dashed;
	overflow-x: auto;
}
.result-table th{
	vertical-align: middle;
    color: white;
    font-size:1.5rem;
    border: 3px #d1d1d1 dashed;
}
.result-table tbody{
	font-size: 2rem;
	color:yellow;
}


/* mediaq */
@media(max-width:1200px){
    .cbt-header-wrap{
        display: block;
    }
    .cbt-wrap{
        padding: 20px 1%;
    }
    .problem-content{
        font-size: 14px;
        padding:10px 0;
    }
    .problem-print{
        font-size:12px;
        border: 1px solid black;
        max-width: 100%;
        margin:15px auto;
        padding:5px;
    }
    .problem-choise{
        font-size:14px;
    }

    .omr-item{
        display: block;
    }
    .omr-choise{
        flex-wrap: wrap;
    }
}





#swal2-title{
	font-family: "Esamanru";
}
#swal2-html-container{
	font-family: "Esamanru";
}
.swal2-styled{
	font-family: "Esamanru";
}