<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/layout/qboard_layout}"
layout:fragment="content"><head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/qboard/qna.css" />

</head>
<body>
<section class="content">
		<div class="question-detail_header">
			<div class="question-detail_title">
				<h1>이 문제는 어떻게 풀어야 하나요?</h1>
			</div>
		</div>
		<div class="header_sub-title flex-row">
			<img class="comment_user-profile" alt="" src="" />
			<div class="flex-column">
			<h6 class=user-name>
				<a>shj</a>
			</h6>
			<div class="header__sub-title__content">


				<div class="content-date">
					<span class="sub-title sub-title__created-at"> <span
						class="sub-title__title">작성일</span> <span class="sub-title__value">23.05.29</span>
					</span> <span class="sub-title sub-title__view-count"> <span
						class="sub-title__title">조회수</span> <span class="sub-title__value">42</span>
					</span>
				</div>
			</div>
			</div>
		</div>
		<div class="post-content">
			<div class="content_body">
				<p>질문: "다음 문장 중에서 문법적으로 옳지 않은 것은 무엇인가요?" a) She is studying for
					her exams at the library. b) I have saw that movie three times
					already. c) They are going to the beach tomorrow. d) The dog was
					chased by the cat in the backyard. 푸는 방법좀 알려주세요</p>
			</div>

		</div>


	</section>

	<section class="question-post-detail">
		<div class="section_content">
			<div class="answer-info_header">
				<div class="answer-info_title">
					댓글 <span class="answer-info_title--count">1</span>
				</div>
			</div>

		</div>
		<div class="question-post-info_content">
			<div class="answer-comment">
				<div class="bootstrap-components comment__input">
					<input type="text" placeholder="shj님, 댓글을 작성해보세요."
						class="form-control form-control-lg " required="">
				</div>
			</div>
		</div>
		<div>
			<div class="content_body">
				<div class="content_body_comment-list">
					<div class="answer_comment">
						<div class="comment-card">
							<div class="comment_header flex-row">
								<img class="comment_user-profile" alt="" src="" />

								<div class="comment_sub-header">
									<div class="comment_user-name-container">
										<a href="" class="comment_user-name">code</a>
									</div>
									<span class="comment_update">2023.05.20</span>
								</div>
							</div>
							<div class="comment_body markdown-body">
								<p>답변: "문법적으로 옳지 않은 문장은 b) I have saw that movie three times
									already. 입니다. 이 문장에서 'have saw'는 현재 완료 시제의 형태를 잘못 사용한 것입니다. 올바른
									형태는 'have seen'이어야 합니다. 'have'와 과거 분사 형태를 함께 사용하여 과거의 경험을 나타내는
									현재 완료 시제를 표현해야 합니다."</p>
							</div>


						</div>
						<div class="comment_re-comment">
							<div class="re-comment__header flex-row"
								style="justify-content: space-between;">
								<h4 class="re-comment__title">답글</h4>
								<button
									class="ac-button is-md is-text re-comment__fold-button e-fold "
									style="float: right;">
									접기
									<svg width="16" xmlns="http://www.w3.org/2000/svg" height="16"
										viewBox="0 0 16 16">
										<path fill="#212529" fill-rule="evenodd"
											d="M3.22 9.78c-.293-.293-.293-.767 0-1.06l4.25-4.25c.293-.293.767-.293 1.06 0l4.25 4.25c.293.293.293.767 0 1.06-.293.293-.767.293-1.06 0L8 6.06 4.28 9.78c-.293.293-.767.293-1.06 0z"
											clip-rule="evenodd"></path></svg>
								</button>
							</div>
							<div class="re-comment_body">
								<div class="re-comment__open-editor-button-container">

									<button
										class="ac-button is-md is-text re-comment__open-editor-button e-open-re-comment-editor ">답글
										달기</button>
								</div>
							</div>
						</div>
					</div>


				</div>

			</div>

		</div>

	</section>


</body>
</html>