<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/layout/qboard_layout}"
layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- cdn -->
<script src="https://kit.fontawesome.com/e92cf22849.js"
	crossorigin="anonymous"></script>
<!-- <script src="https://kit.fontawesome.com/e92cf22849.js"
	crossorigin="anonymous"></script> -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--  css -->
<link rel="stylesheet" type="text/css" href="/css/qboard/qboard.css" />
<link rel="stylesheet" type="text/css" href="/css/qboard/style.css" />
<link rel="stylesheet" type="text/css" href="/css/qboard/bootstrap.css" />

<!-- js -->
<script type="text/javascript" src="/js/qboard/sidebar.js"></script>
<script type="text/javascript" src="/js/qboard/jquery-1.11.2.js"></script>
<script type="text/javascript" src="/js/qboard/bootstrap.js"></script>

 <script src="/libs/se2/js/service/HuskyEZCreator.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#inSubject").focus();
	});
</script>
</head>
<body>
<div id="container">

	<div id="locationBar">
		<div id="locationBar_child">
				
			</div>
		
		
	</div>
	<div id="mainBlock">
		
		<!-- 2. 사이드바 -->
		<div id="aside">
		
			<div id="side_title">커뮤니티</div>
		
			
				<div id="side_menu">
					<ul>
						<li onclick="location.href=''">자유게시판</li>

						<li class="side_select"
							onclick="location.href='/qboard/list'">질문게시판</li>

						<li onclick="location.href='/pboard/list'">나만의 문제집</li>
					</ul>

				</div>
		</div>

	<!-- 3. 본문 -->
	<div id="content">

		<div id="content_title">궁금증 해결하기</div>


		<div id="content_body">

			<form method="post"   th:action="@{qboard/write.do}">
				<select id="inSubject" autocomplete="categoryCode"
					class="form-control" name="categoryCode">
					<option value="" class="">과목을 선택해주세요.</option>
					<option   th:value="korean" 	class="">국어</option>
					<option   th:value="english" class="">영어</option>
					<option   th:value="math" class="">수학</option></select> 
					<input type="text"   id="title" name="title" th:value="title"   class="form-control" placeholder="제목" required />
				<textarea name="content" th:value="content" id="se2" placeholder="질문 내용을 입력하세요." required></textarea>
				
				<div class="form-group">
			      <input type="file" class="form-control-file border" name="file" >
			    </div>
				
				<span style='float: right;'> <input type="button"
					class="btn btn-default" value="취소" onclick="history.back();" /> <input 
					type="submit" class="btn btn-success" value="질문등록" />	
				</span>

			</form>

		</div>
	</div>
  	
	</div>
<!-- se2 -->
    <script>
    var oEditors = [];
	nhn.husky.EZCreator.createInIFrame({
		oAppRef : oEditors,
		elPlaceHolder : "se2",
		sSkinURI : "/libs/se2/SmartEditor2Skin.html",
		fCreator : "createSEditor2",
		htParams : {
			// 툴바 사용 여부 (true:사용/ false:사용하지 않음)
			bUseToolbar : true,

			// 입력창 크기 조절바 사용 여부 (true:사용/ false:사용하지 않음)
			bUseVerticalResizer : false,

			// 모드 탭(Editor | HTML | TEXT) 사용 여부 (true:사용/ false:사용하지 않음)
			bUseModeChanger : false
		}
	});
	</script>
	
	<script type="text/javascript"></script>
	<script th:inline="javascript"></script>
</body>

</html>