	<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/layout/qboard_layout}"
layout:fragment="content"><head>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/qboard/qna.css}"/>
	
<link rel="stylesheet"  th:href="@{/css/qboard/style.css}" />
<link rel="stylesheet"  th:href="@{/css/qboard/bootstrap.css}" />

<!-- <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<!-- comunity-header -->
	<section class="community-header">
		<div class="community-heder_content">
			<h2 class="community-header_title">묻고 답해요</h2>
			<p class="community-header_sub-title">질문을 통해 궁금증을 해결하세요!</p>

		</div>

	</section>



	<!-- Container 시작 -->
	<div id="container">

		<!-- 1. 현재 작업 위치 -->
		<div id="locationBar">

			<div id="locationBar_child">
			
			</div>

		</div>


		<!-- 본문블럭 시작-->
		<div id="mainBlock" >

			<!-- 2. 사이드바 -->
			<div id="aside">

				<div id="side_title">커뮤니티</div>
				<!-- 제작 페이지의 카테고리 제목 -->

				<div id="side_menu">
					<ul>
						<li onclick="location.href=''">고민있어요</li>

						<li class="side_select"
							onclick="location.href='../qboard/list'">질문있어요</li>

						<li onclick="location.href='../pboard/list'">나만의오답노트</li>
					</ul>

				</div>
			</div>
			<script type="text/javascript" src="/js/sidebar.js"></script>


			<!-- 3. 본문 -->
			<div id="content">

				<div id="content_title">질문게시판</div>
				<!-- 본문 상단의 타이틀(해당페이지 제목) -->
				<nav class="navbar nav">
					<div class="container-nav">
						<div class="navbar-header">
							<a class="navbar-brand" href="#"> </a>
						</div>


						<span style='float: right;'> <input type="button"
							class="btn btn-success" value="질문하기"
							onclick="location.href='../qboard/write'" />
						</span>

						
						<ul class="nav navbar-nav" style='float:left;' id="searchType" name="searchType">
							<li class="active" style="font-size: 16px;"><a href="#">국어</a></li>
							<li class="active"><a href="#">수학</a></li>
							<li class="active"><a href="#">영어</a></li>
							<li><a href="#">전체</a> </li>
						</ul> 
					
			<form class="navbar-form navbar-left" action="/" id="searchForm" onsubmit="return false;" >
							<div class="input-group">
								<input type="text" class="form-control" placeholder="검색" id="keyword" name="keyword">
								<div class="input-group-btn">
									<button class="btn btn-default" type="submit" onclick="movePage(1);">
										<i class="glyphicon glyphicon-search"></i>
									</button>
								</div>
							</div>
						</form> 
					</div>
				</nav>


				<div id="content_body">
				<ul class="question-list" id="list">
  

 
  
  </ul>

	       </div>
		</div>
		<!-- 본문블럭 끝-->
		<div class="paging">
			
		</div>
		
	</div>
	<!-- Container 끝 -->
</div>



</body>

	<th:block layout:fragment="script">
        <script th:inline="javascript">
        /*<![CDATA[*/

            // 페이지가 로드되었을 때, 딱 한 번만 함수를 실행
            window.onload = () => {
                setQueryStringParams();

                findAllPost();
            }


            // 쿼리 스트링 파라미터 셋팅
            function setQueryStringParams() {

                if ( !location.search ) {
                    return false;
                }

                const form = document.getElementById('searchForm');

                new URLSearchParams(location.search).forEach((value, key) => {
                    if (form[key]) {
                        form[key].value = value;
                    }
                })
            }


            // 게시글 리스트 조회
            function findAllPost() {

                // 1. PagingResponse의 멤버인 List<T> 타입의 list를 의미
                const list = /*[[ ${qboardlist.list} ]]*/'';

                // 2. 리스트가 비어있는 경우, 행에 "검색 결과가 없다"는 메시지를 출력하고, 페이지 번호(페이지네이션) HTML을 제거(초기화)한 후 로직을 종료
                if ( !list.length ) {
                    document.getElementById('list').innerHTML = '<td colspan="6"><div className="no_data_msg">검색된 결과가 없습니다.</div></td>';
                    drawPage();
                }

                // 3. PagingResponse의 멤버인 pagination을 의미
                const pagination = /*[[ ${qboardlist.pagination} ]]*/'';

                // 4. @ModelAttribute를 이용해서 뷰(HTML)로 전달한 SearchDto 타입의 객체인 params를 의미
                const params = /*[[ ${params} ]]*/'';

                // 5. 리스트에 출력되는 게시글 번호를 처리하기 위해 사용되는 변수 (리스트에서 번호는 페이지 정보를 이용해서 계산해야 함)
                let num = pagination.totalRecordCount - ((params.page - 1) * params.recordSize);

                // 6. 리스트 데이터 렌더링
                drawList(list, num);

                // 7. 페이지 번호 렌더링
                drawPage(pagination, params);
            }


            // 리스트 HTML draw
            function drawList(list, num) {

                // 1. 렌더링 할 HTML을 저장할 변수
                let html = '';

                /*
                 * 2. 기존에 타임리프(Thymeleaf)를 이용해서 리스트 데이터를 그리던 것과 유사한 로직
                 *    기존에는 게시글 번호를 (전체 데이터 수 - loop의 인덱스 번호)로 처리했으나, 현재는 (전체 데이터 수 - ((현재 페이지 번호 - 1) * 페이지당 출력할 데이터 개수))로 정밀히 계산
                 */
                list.forEach(qboard => {
                    html += `
                    	<li class="question-container" >
                        <a class="e-click-post" href="javascript:void(0);" onclick="goViewPage(${qboard.qboard_id});" 	>
                          
                        <div class="question">
                          <div class="question__info">
                            <div class="question__title">
                              
                              <h3 class="title__text" >
                               
                                ${qboard.title}
                               
                              </h3>
                            </div>
                            <p class="question__body" >
                            ${qboard.content}
                            </p>
                            
                            <div class="question__info-footer">
                              <div class="question__info-detail">
                                <span class="question__info-user-name" > ${qboard.member_id}</span>
                                <span>&nbsp;·&nbsp;</span>
                                <span></span>
                                
                                
                              </div>	
                              <div class="question__info-userData ">
                                <dl>
                                  <dt class="visually-hidden">좋아요</dt>
                                  <dd class="comment__count" >
                                    <i class="fa-regular fa-heart"></i>
                                    <span class="text" >${qboard.like_Count}</span>
                                  </dd>
                                  <dt class="visually-hidden">조회수</dt>
                                  <dd class="view__count" >
                                    <i class="fa-regular fa-eye"></i>
                                    <span class="text" >${qboard.view_Count}</span>
                                  </dd>
                                  <dt class="visually-hidden">댓글</dt>
                                  <dd class="comment__count">
                                    <i class="fa-regular fa-comment" ></i>
                                    <span class="text" >${qboard.comment_Count}</span>
                                  </dd>
                                </dl>
                              </div>
                            </div>
                          </div>
                        </div>
                        </a>
                      </li>
                    `;
                })

                // 3. id가 "list"인 요소를 찾아 HTML을 렌더링
                document.getElementById('list').innerHTML = html;
            }


            // 페이지 HTML draw
            function drawPage(pagination, params) {

                // 1. 필수 파라미터가 없는 경우, 페이지 번호(페이지네이션) HTML을 제거(초기화)한 후 로직 종료
                if ( !pagination || !params ) {
                    document.querySelector('.paging').innerHTML = '';
                    throw new Error('Missing required parameters...');
                }

                // 2. 렌더링 할 HTML을 저장할 변수
                let html = '';

                // 3. 이전 페이지가 있는 경우, 즉 시작 페이지(startPage)가 1이 아닌 경우 첫 페이지 버튼과 이전 페이지 버튼을 HTML에 추가
                if (pagination.existPrevPage) {
                    html += `
                        <a href="javascript:void(0);" onclick="movePage(1)" class="page_bt first">첫 페이지</a>
                        <a href="javascript:void(0);" onclick="movePage(${pagination.startPage - 1})" class="page_bt prev">이전 페이지</a>
                    `;
                }

                /*
                 * 4. 시작 페이지(startPage)와 끝 페이지(endPage) 사이의 페이지 번호(i)를 넘버링 하는 로직
                 *    페이지 번호(i)와 현재 페이지 번호(params.page)가 동일한 경우, 페이지 번호(i)를 활성화(on) 처리
                 */
                html += '<p>';
                for (let i = pagination.startPage; i <= pagination.endPage; i++) {
                    html += (i !== params.page)
                        ? `<a href="javascript:void(0);" onclick="movePage(${i});">${i}</a>`
                        : `<span class="on">${i}</span>`
                }
                html += '</p>';

                // 5. 현재 위치한 페이지 뒤에 데이터가 더 있는 경우, 다음 페이지 버튼과 끝 페이지 버튼을 HTML에 추가
                if (pagination.existNextPage) {
                    html += `
                        <a href="javascript:void(0);" onclick="movePage(${pagination.endPage + 1});" class="page_bt next">다음 페이지</a>
                        <a href="javascript:void(0);" onclick="movePage(${pagination.totalPageCount});" class="page_bt last">마지막 페이지</a>
                    `;
                }

                // 6. class가 "paging"인 요소를 찾아 HTML을 렌더링
                document.querySelector('.paging').innerHTML = html;
            }


            // 페이지 이동
            function movePage(page) {

                // 1. 검색 폼
                const form = document.getElementById('searchForm');

                // 2. drawPage( )의 각 버튼에 선언된 onclick 이벤트를 통해 전달받는 page(페이지 번호)를 기준으로 객체 생성
                const queryParams = {
                    page: (page) ? page : 1,
                    recordSize: 10,
                    pageSize: 10,
                    keyword: form.keyword.value
                }

                /*
                 * 3. location.pathname : 리스트 페이지의 URI("/qboard/list.do")를 의미
                 *    new URLSearchParams(queryParams).toString() : queryParams의 모든 프로퍼티(key-value)를 쿼리 스트링으로 변환
                 *    URI + 쿼리 스트링에 해당하는 주소로 이동
                 *    (해당 함수가 리턴해주는 값을 브라우저 콘솔(console)에 찍어보시면 쉽게 이해하실 수 있습니다.)
                 */
                location.href = location.pathname + '?' + new URLSearchParams(queryParams).toString();
            }


            // 게시글 상세 페이지로 이동
            function goViewPage(qboard_id) {
                const queryString = (location.search) ? location.search + `&qboard_id=${qboard_id}` : `?qboard_id=${qboard_id}`;
                location.href = '/quizwiki/qboard/read.do' + queryString;
            }

        /*]]>*/
        </script>
    </th:block>
</html>