<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/layout/qboard_layout}"
layout:fragment="content"><head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/qboard/qna.css" />


<script th:src="@{/js/qboard/function.js}"></script>
<script th:src="@{/js/qboard/jquery-3.6.0.min.js}"></script>

<script src="https://kit.fontawesome.com/e92cf22849.js"
	crossorigin="anonymous"></script>
</head>
<body>
<section class="content" >
			
		<div class="question-detail_header">
			<div class="question-detail_title">
				<h1 th:text="${qboard.title}"> </h1>
						
			</div>
		</div>
		<div class="header_sub-title flex-row">
			<img class="comment_user-profile" alt="" src="" />
			<div class="flex-column">
			<h6 class="user-name" th:text="${qboard.member_id}">
				<a></a>
			</h6>
			<div class="header__sub-title__content">
					<div class="content-date">
					<span class="sub-title sub-title__created-at"> <span
						class="sub-title__title">작성일</span> <span class="sub-title__value" th:text="${qboard.regDate}">23.05.29</span>
					</span> <span class="sub-title sub-title__view-count"> <span
						class="sub-title__title">조회수</span> <span class="sub-title__value" th:text="${qboard.view_Count}">42</span>
					</span>
					</div>
			</div>
			<div	>
			<a th:href="@{/quizwiki/qboard/write.do( qboard_id=${qboard.qboard_id} )}" class="btns btn_bdr4 btn_mid">수정</a>
				<button onclick="deleteBoard();">삭제</button>
			
			</div>
		</div>		
		
		</div>
		<div class="post-content">
			<div class="content_body" th:text="${qboard.content}">
				<p>질문: "다음 문장 중에서 문법적으로 옳지 않은 것은 무엇인가요?" a) She is studying for
					her exams at the library. b) I have saw that movie three times
					already. c) They are going to the beach tomorrow. d) The dog was
					chased by the cat in the backyard. 푸는 방법좀 알려주세요</p>
			</div>

		</div>
	
	
	</section>

	<section class="question-post-detail">
		<div class="section_content">
			<div class="answer-info_header">
				<div class="answer-info_title" >
					댓글 <span class="answer-info_title--count" th:text="${qboard.comment_Count}">1</span>
				</div>
			</div>

		</div>
		<!-- 댓글 작성	 -->
		<div class="question-post-info_content">
			<div class="answer-comment">
				<div class="bootstrap-components comment__input">
					<input type="text"  id="textInput" placeholder="shj님, 댓글을 작성해보세요."
						class="form-control form-control-lg " required="">
					<textarea class="form-control form-control-lg " name="content" id="content" rows="5" cols="30" ></textarea>
					 <span><button type="button" class="btns" onclick="saveComment();">등 록</button> <i id="counter">0/300자</i></span>	
					 
				</div>
				
			</div>
		</div>
		<div>
			<div class="content_body" >
				<!--  /* 댓글 렌더링 */ -->
				<div class="content_body_comment-list" >
					<div class="answer_comment">
						<ui class="comment-list" 	>
					
						</ui>
						<div class="comment_re-comment">
							<div class="re-comment__header flex-row"
								style="justify-content: space-between;">
								<h4 class="re-comment__title">답글</h4>
								<button
									class="ac-button is-md is-text re-comment__fold-button e-fold "
									style="float: right;">
									접기
									<svg width="16" xmlns="http://www.w3.org/2000/svg" height="16"
										viewBox="0 0 16 16">
										<path fill="#212529" fill-rule="evenodd"
											d="M3.22 9.78c-.293-.293-.293-.767 0-1.06l4.25-4.25c.293-.293.767-.293 1.06 0l4.25 4.25c.293.293.293.767 0 1.06-.293.293-.767.293-1.06 0L8 6.06 4.28 9.78c-.293.293-.767.293-1.06 0z"
											clip-rule="evenodd"></path></svg>
								</button>
							</div>
							<div class="re-comment_body">
								<div class="re-comment__open-editor-button-container">

									<button
										class="ac-button is-md is-text re-comment__open-editor-button e-open-re-comment-editor ">답글
										달기</button>
								</div>
							</div>
						</div>
					</div>


				</div>

			</div>

		</div>
		
	</section>

<script>
    var oEditors = [];
	nhn.husky.EZCreator.createInIFrame({
		oAppRef : oEditors,
		elPlaceHolder : "se2",
		sSkinURI : "/libs/se2/SmartEditor2Skin.html",
		fCreator : "createSEditor2",
		htParams : {
			// 툴바 사용 여부 (true:사용/ false:사용하지 않음)
			bUseToolbar : true,

			// 입력창 크기 조절바 사용 여부 (true:사용/ false:사용하지 않음)
			bUseVerticalResizer : false,

			// 모드 탭(Editor | HTML | TEXT) 사용 여부 (true:사용/ false:사용하지 않음)
			bUseModeChanger : false
		}
	});
</script>
	<th:block layout:fragment="script">
    
  <script th:inline="javascript">
        /*<![CDATA[*/

        	 window.onload = () => {
                findAllComment();
            }
        
            // 게시글 삭제
            function deleteBoard() {
                const qboard_id = /*[[ ${qboard.qboard_id} ]]*/"";

                if ( !confirm( '해당글을 삭제할까요?') ) {
                    return false;
                }

                const formHtml = `
                    <form id="deleteForm" action="/quizwiki/qboard/delete" method="get">
                        <input type="hidden" id="qboard_id" name="qboard_id" value="${qboard_id}" />
                    </form>
                `;
                const doc = new DOMParser().parseFromString(formHtml, 'text/html');
                const form = doc.body.firstChild;
                document.body.append(form);
                document.getElementById('deleteForm').submit();
            }

        
            // 댓글 저장
            function saveComment() {

                const content = document.getElementById('content');
                isValid(content, '댓글');

                const qboardId = /*[[ ${qboard.qboard_id} ]]*/'';
                const params = {
                    qboardId : qboardId,
                    content : content.value,
                    memberId : '홍길동'
                }

                $.ajax({
                    url : `/qboard/${qboardId}/comments`,
                    type : 'post',	
                    contentType : 'application/json; charset=utf-8',
                    dataType : 'json',
                    data : JSON.stringify(params),
                    async : false,
                    success : function (qboardlist) {
                        console.log(qboardlist);
                    },
                    error : function (request, status, error) {
                        console.log(error)
                    }
                })
            }

            //전체 댓글 조회
              function findAllComment() {

                const qboardId = /*[[ ${qboard.qboard_id} ]]*/'';

                $.ajax({
                    url : `/qboard/${qboardId}/comments`,
                    type : 'get',
                    dataType : 'json',
                    async : false,
                    success : function (qboardlist) {

                        // 1. 조회된 데이터가 없는 경우
                        if ( !qboardlist.length ) {
                            document.querySelector('.comment-list').innerHTML = '<div class="cm_none"><p>등록된 댓글이 없습니다.</p></div>';
                            return false;
                        }

                        // 2. 렌더링 할 HTML을 저장할 변수
                        let commentHtml = '';

                        // 3. 댓글 HTML 추가
                        qboardlist.forEach(row => {
                            commentHtml += `
                            	<li >
        						<div class="comment-card">
        							<div class="comment_header flex-row">
        								<img class="comment_user-profile" alt="" src="" />

        								<div class="comment_sub-header">
        									<div class="comment_user-name-container">
        										<a href="" class="comment_user-name" >${row.memberId}</a>
        									</div>
        									<span class="comment_update" >${row.regDate}</span>
        								</div>
        							</div>
        							<div class="comment_body markdown-body">
        								<p >${row.content}</p>
        							</div>


        						</div>
        						</li>
                            `;
                        })

                        // 4. class가 "comment_list"인 요소를 찾아 HTML을 렌더링
                        document.querySelector('.comment_list').innerHTML = commentHtml;
                    },
                    error : function (request, status, error) {
                        console.log(error)
                    }
                })
            }

        /*]]>*/

        </script>
</th:block>
   

</body>
</html>