<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet"
	href="https://www.nscoach.com/css/default.css?ver=2302221">
<link rel="stylesheet"
	href="https://www.nscoach.com/js/font-awesome/css/font-awesome.min.css?ver=2302221">

<!--글꼴-->
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
	rel="stylesheet">

<!--css-->
<link rel="stylesheet" type="text/css" href="/css/common.css" />
<link rel="stylesheet" type="text/css" href="/css/mypage/mypage_header.css" />

</head>
<body>
	<div id="my_page_tabs__wrap" th:fragment="menu">
		<div class="inner_cont">
			<div class="vertical_midAlign-wrap">
				<div class="vertical_midAlign-inner bottom" style="">
					<h5>나의 서비스</h5>
					<ul >
						<li class="on"><a href="/mypage/mycontentroom">마이콘텐츠룸</a></li>
						<li><a href="/mypage/note?member_id=aaa212188">오답노트</a></li>
						<li><a href="/mypage/myproblem?member_id=test">나의 문제</a></li>
						<li><a href="/mypage/point?member_id=aaa212188&state=all">포인트</a></li>
						<li ><a href="/mypage/myquestion?member_id=aaa212188">나의 질문</a></li>
						<li><a href="/mypage/ask?member_id=aaa212188&inqury_category=1:1문의">1:1 문의내역</a></li>
						<li><a href="/mypage/suggest?member_id=aaa212188&inqury_category=오답신고">오답신고</a></li>
						<li><a href="/mypage/modify">회원정보수정</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</body>
</html>