<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/mypagelayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/common.css" />
<link rel="stylesheet" type="text/css" href="/css/mypage/mycontentroom.css" />

</head>
<body>
	<section layout:fragment="content">
		<div id="myPage_contents">
			<div class="inner_cont">
				<div class="myPage_title flex_wrap">
					<h6 style="font-size: 35px">질문내역</h6>
					<p>회원님의 질문내역을 확인할 수 있습니다.</p>
				</div>

				<table class="basic_board bor0_top">
					<caption>회원님의 질문내역을 확인할 수 있습니다.</caption>

					<colgroup>
						<col width="10%">
						<col width="45%">
						<col width="15%">
						<col width="10%">
						<col width="10%">
						<col width="10%">
					</colgroup>

					<thead>
						<tr>
							<th>번호</th>
							<th>제목</th>
							<th>작성일</th>
							<th>조회 수</th>
							<th>좋아요 수</th>
							<th>댓글 수</th>
						</tr>
					</thead>

					<tbody>
						<tr th:if="${qboardlist.size==0}">
							<td colspan="6" class="empty_li">질문이 없습니다.</td>
						</tr>
						<tr th:each="qboard:${qboardlist}" th:unless="${qboardlist.size==0}">
							<td><span th:text="${qboard.qboard_id}"></span></td>
							<td><span th:text="${qboard.title}"></span></td>
							<td><span th:text="${qboard.regdate}"></span></td>
							<td><span th:text="${qboard.view_Count}"></span></td>
							<td><span th:text="${qboard.like_Count}"></span></td>
							<td><span th:text="${qboard.comment_Count}"></span></td>
						</tr>
					</tbody>
				</table>
				<div class="bbs_pagination">
					<div class="page_num flex_wrap"></div>
				</div>
			</div>
		</div>
	</section>
	<footer id="mainfooter"></footer>
</body>
</html>