<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/mypagelayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/common.css" />
<link rel="stylesheet" type="text/css" href="/css/mypage/mycontentroom.css" />
<link rel="stylesheet" type="text/css" href="/css/mypage/mypagecontent.css" />

</script>
</head>
<body>
	
	<section layout:fragment="content">
		<div id="myPage_contents">
				<div class="inner_cont">
						<div class="myPage_title flex_wrap">
							<h6 style="font-size: 35px">1 : 1 문의</h6>
							<p>문의사항을 알려주세요 빠르게 답변해드리겠습니다.</p>
						</div>
						
						<div class="write_form">
							<dl>
								<dt>제목</dt>
								<p><span th:text="${oto.inqury_title}"></span></p>
							</dl>
							<dl>
								<dt>작성자</dt>
								<p><span th:text="${oto.member_id}"></span></p>
							</dl>
							<dl id="otoContent">
								<dt>내용</dt>
								<dd >
									<span th:text="${oto.inqury_content}"></span>
								</dd>
							</dl>
							<dl>
								<dt>파일첨부</dt>
								<dd>
									문제 파일
								</dd>
							</dl>
						</div>
						<div class="inner_section">
						<div class="section_title flex_wrap">
						<p class="title">
							<span class="bl02">관리자의 답변</span>
						</p>
						<div class="write_form">
							<dl></dl>
							<dl th:if="${inquryreply==null}">
								<dd>
								<span>답변이 없습니다.</span>
								<dd>
							</dl>
							<dl th:unless="${inquryreply==null}">
								<dd>
								<span th:text="${inquryreply.inqury_reply_content}" ></span>
								<dd>
							</dl>
						</div>
						</div>
					</div>
						
						<div class="flex_wrap btn_wraps">
							<button type="button" class="comm_buttons" style="margin: 0 10px" th:onclick="|location.href='@{/mypage/oto/delete(inqury_id=${oto.inqury_id})}'|">삭제하기</button>
							
							<button class="comm_buttons fill" style="margin: 0 10px;" th:onclick="|location.href='@{/mypage/update(inqury_id=${oto.inqury_id})}'|">수정하기</button>
						</div>
						
					</div>
			</div>
		</div>
	</section>
</body>
</html>