<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/mypagelayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/common.css" />
<link rel="stylesheet" type="text/css" href="/css/mypage/mycontentroom.css" />
<link rel="stylesheet" type="text/css" href="/css/mypage/mypagecontent.css" />

</script>
</head>
<body>
	
	<section layout:fragment="content">
		<div id="myPage_contents">
			<form action="/mypage/oto/update" method="post">
				<div class="inner_cont">
						<div class="myPage_title flex_wrap">
							<h6 style="font-size: 35px">1 : 1 문의</h6>
							<p>문의사항을 알려주세요 빠르게 답변해드리겠습니다.</p>
						</div>
						
						<div class="write_form">
							<input type="hidden" name="inqury_id" th:value="${oto.inqury_id}">
							<dl>
								<dt>제목</dt>
								<dd><input type="text" name="inqury_title" id="re_subject" th:value="${oto.inqury_title}" maxlength="255"/>
								</dd>
							</dl>
							<dl>
								<dt>내용</dt>
								<dd><textarea name="inqury_content" id="re_content" th:text="${oto.inqury_content}">
								</textarea></dd>
							</dl>
							<dl>
								<dt>파일첨부</dt>
								<dd>
									<div class="filebox">
										<label for="ex_filename">업로드</label>
										<input class="upload-name" value="파일선택" disabled="disabled" >
										<input type="file" name="re_file" id="ex_filename" class="upload-hidden">
																			</div>
								</dd>
							</dl>
													</div>
						
						<div class="flex_wrap btn_wraps">
							<button type="button" class="comm_buttons" style="margin: 0 10px" onClick="location.href='/mypage/ask?member_id=aaa212188&inqury_category=1:1문의'">취소</button>
							
							<button class="comm_buttons fill" type="submit" style="margin: 0 10px;" >완료</button>
						</div>
					</div>
					</form>
			</div>
		</div>
	</section>
</body>
</html>