<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/mypagelayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/common.css" />
<link rel="stylesheet" type="text/css"
	href="/css/mypage/mycontentroom.css" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
	integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
	integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
	integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<script type="text/javascript">
	$(document).ready(
			function() {
				
				$("#day1").on("click", function() {
					var now = new Date()
					var yesterday = new Date(now.setDate(now.getDate() - 1));//하루전 날짜로 셋팅	
					var yesterday = new Date(now.getFullYear(), now.getMonth(), now.getDate()); // 로컬 날짜로 변환
					var a = yesterday.toISOString().substring(0, 10);//yyyy-mm-dd로 셋팅 
					$("#startday").attr("value",a)
					$("#endday").attr("value",a)
					now = new Date()

				})
				$("#day3").on("click", function() {
					var now = new Date()
					var yesterday = new Date(now.setDate(now.getDate() - 3));//하루전 날짜로 셋팅	
					var a = yesterday.toISOString().substring(0, 10);//yyyy-mm-dd로 셋팅 
					$("#startday").attr("value",a)
					$("#endday").attr("value",a)
					now = new Date()

				})
				$("#day7").on("click", function() {
					var now = new Date()
					var yesterday = new Date(now.setDate(now.getDate() - 7));//하루전 날짜로 셋팅	
					var a = yesterday.toISOString().substring(0, 10);//yyyy-mm-dd로 셋팅 
					$("#startday").attr("value",a)
					$("#endday").attr("value",a)
					now = new Date()
				})

				$(function() {
					//input을 datepicker로 선언
					$("#startday,#endday").datepicker(
							{
								dateFormat : 'yy-mm-dd' //달력 날짜 형태
								,
								showOtherMonths : true //빈 공간에 현재월의 앞뒤월의 날짜를 표시
								,
								showMonthAfterYear : true // 월- 년 순서가아닌 년도 - 월 순서
								,
								changeYear : true //option값 년 선택 가능
								,
								changeMonth : true //option값  월 선택 가능                
								,
								showOn : "both" //button:버튼을 표시하고,버튼을 눌러야만 달력 표시 ^ both:버튼을 표시하고,버튼을 누르거나 input을 클릭하면 달력 표시  
								,
								buttonImage : "../images/calendar.png" //버튼 이미지 경로
								,
								buttonImageOnly : true //버튼 이미지만 깔끔하게 보이게함
								,
								buttonText : "선택" //버튼 호버 텍스트              
								,
								yearSuffix : "년" //달력의 년도 부분 뒤 텍스트
								,
								monthNamesShort : [ '1월', '2월', '3월', '4월',
										'5월', '6월', '7월', '8월', '9월', '10월',
										'11월', '12월' ] //달력의 월 부분 텍스트
								,
								monthNames : [ '1월', '2월', '3월', '4월', '5월',
										'6월', '7월', '8월', '9월', '10월', '11월',
										'12월' ] //달력의 월 부분 Tooltip
								,
								dayNamesMin : [ '일', '월', '화', '수', '목', '금',
										'토' ] //달력의 요일 텍스트
								,
								dayNames : [ '일요일', '월요일', '화요일', '수요일', '목요일',
										'금요일', '토요일' ] //달력의 요일 Tooltip
								,
								minDate : "-5Y" //최소 선택일자(-1D:하루전, -1M:한달전, -1Y:일년전)
								,
								maxDate : "+5y" //최대 선택일자(+1D:하루후, -1M:한달후, -1Y:일년후)  
							});

					//초기값을 오늘 날짜로 설정
					$('#datepicker').datepicker('setDate', 'today'); //(-1D:하루전, -1M:한달전, -1Y:일년전), (+1D:하루후, -1M:한달후, -1Y:일년후)            
				});

			})
</script>
</head>
<body>
	<section layout:fragment="content">
		<div id="myPage_contents">
			<div class="inner_cont">
				<div class="myPage_title flex_wrap">
					<h6 style="font-size: 35px">포인트내역</h6>
					<p>회원님의 포인트 사용내역을 확인할 수 있습니다.</p>
				</div>

				<div class="inner_section">
					<div class="section_title flex_wrap">
						<p class="title">
							<span class="bl02">이하나님의 현재 포인트</span>
						</p>
						<p>
							<strong><em><span th:text=${pointtotal}></span>0</em>
								포인트</strong>
						</p>
					</div>
					
						<div class="search_bar flex_wrap">
							<ul class="multi_line">
								<li><input type="radio" name="day" id="day1"> <label
									for="day1">1일</label></li>
								<li><input type="radio" name="day" id="day3">
									<label for="day3">3일</label></li>
								<li><input type="radio" name="day" id="day7">
									<label for="day7">7일</label></li>
							</ul>
							<form action="/mypage/point" method="post">
							<div class="calendar_box flex_wrap">
							<input type="hidden" name="member_id" value="test">
								<div class="dateBox">
									<input type="text" name="startday" id="startday" class="calendar"
										value=""> <img class="ui-datepicker-trigger"
										src="../images/calendar.png" alt="Select date"
										title="Select date">
								</div>
								<div class="dateBox">─</div>
								<div class="dateBox">
									<input type="text" name="endday" id="endday" class="calendar"
										value=""> <img class="ui-datepicker-trigger"
										src="../images/calendar.png" alt="Select date"
										title="Select date">
								</div>
								<button class="search" type="submit">조회</button>
							</div>
					</form>
				</div>
			</div>
			<!-- // 캐시내역 검색 -->

			<div class="inner_section">


				<table class="basic_board">
					<caption>마일리지 사용내역을 확인 할 수 있습니다.</caption>

					<colgroup>
						<col width="5%">
						<col width="65%">
						<col width="15%">
						<col width="15%">
					</colgroup>

					<thead>
						<tr>
							<th>번호</th>
							<th>내용</th>
							<th>포인트</th>
							<th>적립/차감일자</th>

						</tr>
					</thead>

					<tbody>
						<tr th:if="${pointlist.size==0}">
							<td colspan="4" class="empty_li">포인트가 없습니다.</td>
						</tr>
						<tr th:each="point:${pointlist}" th:unless="${pointlist.size==0}">
							<td><span th:text="${point.mypage_point_id}"></span></td>
							<td><span th:text="${point.point_content}"></span></td>
							<td><span th:text="${point.point_amount}"></span></td>
							<td><span th:text="${point.point_date}"></span></td>
						</tr>

					</tbody>
				</table>

				<div class="bbs_pagination">
					<div class="page_num flex_wrap"></div>
				</div>
			</div>
			<!-- // 캐시내역 -->

		</div>
		</div>
	</section>
	<footer id="mainfooter"></footer>
</body>
</html>