<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/mypagelayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/common.css" />
<link rel="stylesheet" type="text/css" href="/css/mypage/mycontentroom.css" />
<link rel="stylesheet" type="text/css" href="/css/mypage/mypagecontent.css" />

</script>
</head>
<body>
	
	<section layout:fragment="content">
		<div id="myPage_contents">
		<div class="inner_cont">
						<div class="myPage_title flex_wrap">
							<h6 style="font-size: 35px">오답신고</h6>
							<p>오답을 알려주세요 빠르게 답변해드리겠습니다.</p>
						</div>
						
						<div class="write_form">
							<dl>
								<dt>제목</dt>
								<dd><input type="text" name="re_subject" id="re_subject" value="" maxlength="255"  required></dd>
							</dl>
							<dl>
								<dt>내용</dt>
								<dd><textarea name="re_content" id="re_content" required></textarea></dd>
							</dl>
							<dl>
								<dt>파일첨부</dt>
								<dd>
									<div class="filebox">
										<label for="ex_filename">업로드</label>
										<input class="upload-name" value="파일선택" disabled="disabled" >
										<input type="file" name="re_file" id="ex_filename" class="upload-hidden">
																			</div>
								</dd>
							</dl>
													</div>
						
						<div class="flex_wrap btn_wraps">
							<button type="button" class="comm_buttons" style="margin: 0 10px" onClick="location.href='#'">취소</button>
							
							<button class="comm_buttons fill" style="margin: 0 10px;">글쓰기</button>
						</div>
					</div>
			</div>
		</div>
	</section>
</body>
</html>