@charset "UTF-8";

.row{
	padding-left: 40px!important;
}
.myicon{
	color: #6797f0; 
	font-size: 85px;
	padding-left: 20px;
    margin-bottom: 20px;
}
.mybox{
	margin-top: 1rem!important;
	padding-left: 3.5rem!important;
}
.mybox:hover {
	cursor: pointer;
	box-shadow: 0 8px 20px 0 #6797f0;
	transition: 0.5s;
}