@charset "UTF-8";

* {
	font-family: Esamanru!important;
}
.container{
	display: flex!important;
	flex-direction: column!important;
}
body {

	min-height: 100vh;
	/* background: -webkit-gradient(linear, left bottom, right top, from(#92b5db),
		to(#1d466c));
	background: -webkit-linear-gradient(bottom left, #6797f0 0%, #1d466c 100%);
	background: -moz-linear-gradient(bottom left, #6797f0 0%, #1d466c 100%);
	background: -o-linear-gradient(bottom left, #6797f0 0%, #1d466c 100%); */
	background: linear-gradient(to top, #fff 20%, #6797f0 100%);
}
.logo_wrap{
      position: relative;
    left: 16rem;
    top: 3rem;
    display: inline-block;
    width: 195px!important;
    height: 40px!important;
    
}
.btn-primary {
    color: #fff;
    background-color: #5a49e4!important;
    border-color: #5a49e4!important;
}
.btn-primary:hover{
	background-color: black!important;
	transition: 0.3s!important;
}
.input-form {
	max-width: 680px;
	margin-top: 80px;
	padding: 32px;
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}

#zipcode{
	padding-right: inherit;
	
}
.code_num_btn{
	padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 0.8;
    border-radius: 0.3rem;
	color: #fff;
    background-color: #5a49e4;
    border-color: #5a49e4;
    transition: 0.3s;
}
.code_num_btn:hover {
  background-color: black;
}
.div_btn{
	padding-top: 35px;
	padding-left:inherit; 
	float: right;
}
.child-custom-control {
    padding-left: 1.5rem;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
    margin-left: 1rem;
}
/* #member_id_btn {
	background-color: GhostWhite; 
	width: 15%; 
	height: 40px;
} */
.olmessagef {
	color: red; 
	font-style: Italic;
}
.olmessaget {
	color: blue; 
	font-style: Italic;
}

@media (min-width: 768px){
	.col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 600px!important;
}	
.col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    margin-left: 1rem;
}
}
@media (max-width:768px){
	.row{
	display: inline-block!important;
	min-width: 100%;
	}
	
	.col-md-8 {
	display: inline-block!important;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    margin-left: 1rem;
    margin-right: 0;
}
	
	.code_num_btn{
	display: inline-block!important;
    
    }
}
@media (max-width:476px){
.div_btn{
	padding-top: 0;
	float: left;
	margin-left: 2rem;
	
	}
	.code_num_btn{
	width: 100%;
	}
}

