@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* body
, div, p, span
, ul, ol, li
, h1, h2, h3, h4, h5, h6
, table, tr, td, th
, a {
	font-family: Malgun Gothic, "맑은 고딕", "굴림", dotum, "돋움", gulim, tahoma, arial, sans-serif; 
	color: #333333; 
	margin: 0px; 
	padding: 0px;
}
 */

h1 {}
h2 {}
h3 {}
h4 {}


/* 전체
==============================================================*/

#header, #container, #footer {
	width: 100%; margin: 0px; padding: 0px;
}

#header #superBar #superBarChild
, #header #navBar #navBarChild
, #container #mainBlock
, #home_container #mainBlock
, #footer #copyBlock
, #locationBar_child {
	width: 1200px; 
	margin: 0px auto;
	 justify-content: center;
}
.container-nav {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}
.navbar-nav {
    background-color: white;
    border-color: white;
}



#container { 
	background-color: #FFFFFF; /* #E9EAED; */  
	min-height: 730px; 
	margin-bottom: 0px;
}

#home_container { 
	background-color: #FFFFFF;
	min-height: 800px; 
	/* margin-bottom: 40px; */
}

#container .empty-list {
	height: 400px;
	text-align: center;
	/* background-color: #EEEEEE; */
	padding-top: 150px;
}

#container .empty-list > h5 {
	/* margin-top: 180px; */
	font-style: italic;
}





/* 헤더 
==============================================================*/
#header { position: relative;}

#header #superBar { 
	height: 80px; 
	background-color: #F4D03F; 
	position: relative;
	z-index: 20;
}
#header #superBar #superBarChild {}
#header #superBar #superBarChild a > #examLogo {
	width:60px; 
	margin-top: 12px; 
	float: left; 
}

#header #superBar #superBarChild > span {
	width: 203px;
	float: right; 
	margin-top: 15px;
	/* padding-top: 10px; */
	/* color : #DEDEDE; */
}

#header #navBar {
	background-color: #FFFFFF;
	height: 50px; 
	/* background-color: #F3F3F4; */ 
	border-bottom: 1px solid #DEDEDE;
	/* position: relative; */
	z-index: 20;
}
#header #navBar #navBarChild { 
	text-align:center; 
	padding-top: 14px; 
	padding-left: 5px;
}


#header #navBar ul {
	list-style: none;
	list-style-type: none;  
	display:block;
	float: left; 
}
#header #navBar ul .navBtn { 
	display: inline-block;
	width: 163px; 
	height: 36px;
	text-align: center;
}
#header #navBar ul .navBtn > a { 
	font-size: 15px; 
	color:#333333; 
	font-family: '맑은 고딕'; 
	font-weight: bold;  
}
#header #navBar ul .navBtn:hover {
	border-bottom: 4px solid #5E2C09;
	color: #454545;
}
#header #navBar ul .navBtn > a:hover {
	text-decoration: none;
}






/* 서브메뉴 */

#header #navBar_sub { 
	background-color: #EFEFEF; 
	min-height: 200px; 
	position: absolute;
	/* top: -190px; */
	top: 120px; 
	opacity: 0.90;
	z-index: 12;
	width: 100%;
}

#header #navBar_sub #navBar_subChild {
	width: 1008px;
	margin: 0px auto;
	padding: 10px;
}









#header #id {
	background-image: url("/exam/resources/images/icons/user.png");
	background-repeat: no-repeat;
	background-position: 10px center;
	margin: 10px 0px;
	height: 40px;
	padding: 10px;
	padding-left: 33px;
}
#header #pw {
	background-image: url("/exam/resources/images/icons/lock.png");
	background-repeat: no-repeat;
	background-position: 10px center;
	margin: 10px 0px;
	height: 40px;
	padding: 10px;
	padding-left: 33px;
}






/* 회원 정보 */
#header #superBar #userImg {
	/* border: 1px solid gray; */
	width: 50px;
	float: left;
}
#header #superBar #userImg > img {
	margin-top: 6px;
	width: 38px;
}





#header #superBar #userInfo {
	width: 130px;
	float: left;
	/* border: 1px solid gray; */
	height: 52px;
	padding-left: 10px;
	padding-top: 3px;
}
#header #superBar #userInfo h4 {
	display: inline;
}
#header #superBar #userInfo img {
	width: 17px;
	margin-top: -4px;
}
#header #superBar #userInfo #userName {
	margin-bottom: 10px;
}
#header #superBar #userInfo #mile:hover {
	text-decoration: none;
	background-color: #ABABAB;
	opacity: 0.5; 
	color: #FFFFFF;
}

#header #superBar #userInfo #mile {
	color: #1e8ee1;
	font-size: 14px;
}
#header #superBar #userInfo #massageCount {
	color: #1e8ee1;
	font-size: 14px;
}
#header #superBar #userInfo #massageCount:hover {
	text-decoration: none;
	background-color: #ABABAB;
	opacity: 0.5; 
	color: #FFFFFF;
}




#header #superBar #userMenu {
	/* border: 1px solid gray; */
	float: left;
	width: 22px;
	height: 22px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

#header #superBar #userMenu:hover {
	background-color: #ABABAB;
	opacity: 0.5; 
	
}

#header #superBar #userMenu img {
	width: 15px;
	
}







/* login 로그인 모달 */
#header .modal-dialog {
	
	/* padding-top: 200px; */
	width:300px;
}
#header .modal-body {
	height: 250px;
}


#header .modal-header {
	background-color: #EEEEEE;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}










/* 메인페이지
==============================================================*/





/*  : 이벤트 블럭  */
#eventBlock {
	position: relative;
	min-width: 1008px;
	width: 100%;
	height: 380px;
	border-bottom: 3px solid #e5e4e5;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
}
#eventBlock > .eventBlock_list {
	position: relative;
	width: 100%;
	height: 380px;
	top: 0;
	margin: 0 auto;
	text-align: center;
	z-index: 1;
}
#eventBlock > .eventBlock_list ul {
	position: relative;
	width: 100%;
	height: 380px;
	list-style-type: none;
}
#eventBlock > .eventBlock_list ul li{
	position: absolute;
	top: 0;
	float: left;
	width: 100%;
	height: 380px;
	text-align: center;
	list-style-type: none;
}
#eventBlock > .eventBlock_list ul li a {
	display: block;
	width: 1008px;
	height: 380px;
	margin: 0 auto;
	text-align: center;
	text-indent: -9000px;
}

/* 슬라이드 방향버튼 */
#eventBlock > #left_btn_wrap {
	float: left;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 74px;
	margin-left: -510px;
	margin-top: -30px;
	z-index: 11;
	cursor: pointer;
	padding-top: 10px;
}
#eventBlock > #left_btn_wrap:hover {
	background-color: #FFFFFF; opacity: 0.6;
} 

#eventBlock > #left_btn_wrap a { font-size: 30px;}
#eventBlock > #left_btn_wrap a:hover { text-decoration: none;}


#eventBlock > #right_btn_wrap {
	float: left;
	position: absolute;
	top: 50%;
	right: 50%;
	width: 40px;
	height: 74px;
	margin-right: -510px;
	margin-top: -30px;
	z-index: 11;
	cursor: pointer;
	padding-top: 10px;
}
#eventBlock > #right_btn_wrap:hover {
	background-color: #FFFFFF; opacity: 0.6;
} 


#eventBlock > #right_btn_wrap a { font-size: 30px;}
#eventBlock > #right_btn_wrap a:hover { text-decoration: none;}

#eventBlock a > img { width:40px; opacity: 0.65;}









/* 홈 : 퀵링크
==============================================================*/

#quickLinkBlock { 
	width: 988px; 
	height: 100px;
	margin: 0px auto; 
	margin-top: 340px;
	background-color: #FFFFFF; 
	clear: both;

}










/* 메인블럭
==============================================================*/

#mainBlock {
	padding-top: 15px;
	padding-bottom: 8px;
}




/* 홈페이지 */
#leftBox, #centerBox, #rightBox {
	width: 316px; 
	margin: 10px;
	min-height: 320px;
	display: inline-block;
	float: left;
}

#left_up, #left_down, #centerBox, #rightBox {
	background-color: #FFFFFF; 
	/* border-top: 2px solid #CDCDCD; */
}

#left_up, #left_down {
	height: 152px;
}
#left_up {
	margin-bottom: 15px;
}

#mainBlock #left_up_title
, #mainBlock #left_down_title
, #mainBlock #centerBox_title
, #mainBlock #rightBox_title {
	padding: 8px 10px;
	margin: 0px auto;
	width: 95%;
	height: 38px;
	border-bottom: 1px dotted #DEDEDE;
	font-size: 14px;
	font-weight: bold;
}



/* 1. 로케이션바 */

#locationBar {
	padding-top: 16px;
	padding-bottom: 2px;
	/* border-bottom: 1px solid #CDCDCD; */
}
#locationBar #locationBar_child img {
	width: 15px;
	margin-top: -2px;
}




/* 2. 사이드바 */

#aside { 
	background-color: #FFFFFF;
	width: 200px;
	/* padding: 8px; */
	padding-top: 8px;
	border-top: 5px solid #0090f9;
	float: left;
}

#aside #side_title {
	padding: 12px 0px;
	 
	margin: 0px auto;
	width: 100%;
	/* height: 38px; */
	border-bottom: 1px dotted #DEDEDE;
	font-size: 16px;
	font-weight: bold;
}
#aside #side_menu {
	padding: 0px 0px;
}
#aside #side_menu > ul {
	list-style-type: none;
	display: block;
}
#aside #side_menu > ul > li {
	list-style-type: none;
	width: 100%;
	display: block;
	padding: 13px 0px;
	padding-left: 4px;
	/* border-bottom: 1px dotted #DEDEDE; */
}
#aside #side_menu > ul > li:hover {
	background-color: /* #3399FF; */  #E8F2FE;  /* #EEEEEE; */
	cursor: pointer;
	color: #0090f9;
	font-weight: bold;
	padding-left: 13px;
}


#aside #side_menu .side_select {
	background-color:  #0090f9;
	color: #FFFFFF;
	font-weight: bold;

}

#aside #side_menu .side_select > span {
	float: right;
	padding-right: 10px;
	font-weight: bold;
	color: inherit;
}

#aside #side_menu .side_select > span: { }

#aside #customer-center-banner {
	margin-top: 20px;
	border-top: 1px dotted #DEDEDE;
	padding: 20px 2px;
	
	
}
#aside  #customer-center-banner-tel {
	font-size: 25px;
	font-weight: bold;
}
#aside  #customer-center-banner-content {
	font-size: 12px;
	color: #787878;
}
#aside  #customer-center-banner-content span {
	color: #ff8000;
}


html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: Pretendard,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-feature-settings: normal;
}









/* 3. 본문 */

#container {
	padding-bottom: 50px;
}

#content { 
	width: 80%;
	display: inline-block;
	clear: both;
	background-color: #FFFFFF;
	/* min-height: 690px; */
	margin-left: 28px;
	padding-top: 20px;
	border-top: 5px solid #CDCDCD;
	margin-bottom: 0px;
}
#content #content_title {
	/* border: 1px solid gray; */
	font-size: 25px;
	font-weight: bolder;
	margin-bottom: 20px;
		
}
#content #content_body {
	/* border: 1px solid gray; */
}




#mainBlock #add-member-content {
	width: 780px;
	margin: 0px auto;
	border-top: 5px solid #CDCDCD;
	
	
}
#mainBlock #add-member-content h3{
	font-size:16px; font-weight:bold;
}
#mainBlock #add-member-content #btn{
	text-align:center;
}
#mainBlock #add-member-content #stepimg{
	width:780px; 

}


/* 본문 버튼 스타일 */
#btn-answers {
	background-image: url("/exam/resources/images/mono-icons/1425387925_library.png");
	background-repeat: no-repeat;
	background-position: 12px center; 
	background-size: 16px;
	width: 100px;
	padding-left: 30px;
}
#btn-take-exam {
	background-image: url("/exam/resources/images/mono-icons/1425387547_finished-work.png");
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: 16px;
	width: 100px;
	padding-left: 30px;
}


/* 페이지바 */
#pageBar { /* width: 140px; */ height: 30px; margin: 0px auto; text-align: center; }
#pageBar ul { margin: 0;}






/* 푸터 
==============================================================*/
body { background-color: #555555; }

#footer { background-color: #555555; height: 120px; padding-top: 10px; }
#footer #copyBlock_article { color: #CDCDCD; width: 935px; display: block; float: left;}
#footer #copyBlock_logo {width: 70px; display: inline-block; clear: both;}
#footer #copyBlock_logo > img {width:50px; margin-top: 5px; margin-left: 23px;}


